[2017-03-06 09:47] leodeleon22 commented on #1221
I was able to run the demo using
`ANDROID_SDK=$ANDROID_HOME buck install --run demo_app_android`

How should I set my variables so I don't have this problem anymore?

[2017-03-06 12:48] Coneko commented on #1211
In practice we have not found it very useful: there is no way to customise it based on user or on version of Buck.

The second limitation is especially bad, since the most common use of MOTD was to notify users of some known issue and its workaround.

[2017-03-06 13:19] illicitonion commented on #1221
My guess is that ANDROID_SDK should point to /usr/local/Cellar/android-sdk not /usr/local/Cellar/android-sdk/24.4.1_1

[2017-03-06 13:19] #1221 closed

[2017-03-06 13:49] #1219 closed

[2017-03-06 19:44] ProfessaA commented on #1215
@bhamiltoncx do you have any suggestions on why this might be happening and what logs I can look at to debug? thanks!

[2017-03-07 02:48] ldjhust opened #1222 "How to customize buck's build process?"
Hi guys,

When build android project with gradle, there are some hooks we can use to customise the build process  like this:
eg1.
tasks.whenTaskAdded { task ->
    if (task.name.startsWith('xxx')) {
        task.doFirst {
            // do something you want
        }

        task.doLast {
            // do something you want
        }
    }
}

or eg2.
tasks.withType(JavaCompile) {
    options.en

[2017-03-07 07:42] kageiit commented on #1222
You can use `include_defs`to modify the behavior of built in rules via [custom macros](https://buckbuild.com/extending/macros.html) etc. example: https://github.com/facebook/infer/blob/master/DEFS

[2017-03-07 10:57] mattoo88 opened #1223 "Did not receive full-length key"
On running "./buckw install -r app:bin_betaDebug" command i get this error. Using exopackage in project.

com.facebook.buck.android.agent.AgentMain main
SEVERE: Command failed
Throwable occurred: java.lang.IllegalStateException: Did not receive full-length key.
        at com.facebook.buck.android.agent.AgentMain.receiveAndValidateSessionKey(AgentMain.java:188)
        at com.facebook.buck.android

[2017-03-07 12:13] Coneko commented on #1222
Note that Buck's model isn't task based, it's rule based, and there's no way to add phony rules like in make, so in practice there's no way to add something at the start and end of the build.

[2017-03-07 12:14] Coneko commented on #1223
cc @cjhopman

[2017-03-07 15:07] kageiit commented on #1222
That is not entirely true. If it's just at the start and end of the entire build, you can just wrap the buck invocation in a wrapper script similar to gradlew to do whatever you want.

Example: https://github.com/uber/okbuck/blob/master/buckw

I wish buck just shipped with one in general :)

[2017-03-07 15:36] aary opened #1224 "prebuilt_cxx_library not working with shared libraries on mac"
I was trying to build and link Intel's thread building blocks (tbb) as a shared library using buck (as a  `prebuilt_cxx_library`).  But there seem to be two things wrong here

1. The `preferred_linkage` argument from the documentation here https://buckbuild.com/rule/prebuilt_cxx_library.html does not seem to be recognized by either the most recent release of buck (on homebrew) or the version of bu

[2017-03-07 20:35] jiangty-addepar opened #1225 "Current state of buck project / IntelliJ integration"
Also posted this in the Google Group, but maybe Github is a better place for this?

--------

Hi,

We're using Buck as the build tool for our Java repository. Our repo contains a number of executables and tests that we run through both IntelliJ and the command line, and being able to run code from IntelliJ is important to our developer workflow. We're still using the "old" buck project / .iml file

[2017-03-07 23:11] liuliusc opened #1226 "core_data_model cannot be proper bundled into vanilla apple_test"
**Summary**

For vanilla apple_test (without host app), core_data_model (https://buckbuild.com/rule/core_data_model.html) specified data model doesn't get compiled and bundled into apple_test as resource.

**Step to Reprod**

 * Add a xcdatamodeld to the BUCK project, some apple_library with core_data_model;
 * Add apple_test that has dependency on the apple_library;
 * In the XCTestCase, access d

[2017-03-07 23:38] bhamiltoncx commented on #1215
@ProfessaA: Sorry for the delay. You can bump up the log level for `WatchmanSocketClient` to get the full query and response.

Add to the file `.bucklogging.local.properties` in your project directory:

[code]

The resulting queries and responses should show up in `buck-out/log/buck-0.log` (look for `WatchmanSocketClient`.)

[2017-03-08 00:41] styurin commented on #1225
Hello,

The current project generation (which used to be the experimental) does not use `project_config` targets. It tries to build IntelliJ modules using information from targets like `java_library`, `java_test`, etc. We currently do not maintain the deprecated project generation and plan to remove it at some point.

1. We do not build and run tests inside of IntelliJ using the capabilities provi

[2017-03-08 01:17] jiangty-addepar commented on #1225
Thanks for the information! We're still running our fork (which is very, very far behind master) locally, so I haven't really seen the message about the deprecation removal.

We have a pretty decent number of applications in our repository and often add new modules / change dependencies, so it seems like we may need to continue generating .iml files.

Relatedly, it seems like the Buck repository i

[2017-03-08 01:37] styurin commented on #1225
In general yes, but if your repo is not big, you can try to use checked in iml files. I'd say if it's less than a hundred of iml files, you can live with that, but it won't scale well if the number of modules is growing.

Yes. It's not a blocking issue, but don't be surprised when you get some issues with these modules. If these targets use the same java language level and have the same type (no A

[2017-03-08 02:10] jiangty-addepar commented on #1225
We're past 500 iml files, so I guess that's why our performance is slowing down :(

The targets all have the same language level and type, so hopefully they'll work for now while we change to a longer-term solution with smaller BUCK files.

[2017-03-08 13:01] nguyentruongtho commented on #943
As I pointed out here: https://github.com/facebook/buck/pull/1153#issuecomment-276615983, `module-Swift.h` is a private header (https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html).

We won't allow to export `module-Swift.h` in buck as it is wrong. I don't know how that work with Xcode but this is terrible that Apple tooling is not consiste

[2017-03-08 13:08] nguyentruongtho commented on #423
@steeve The solution for now is to split your big target into smaller, independent ones.

[2017-03-08 14:48] steeve commented on #423
@nguyentruongtho yes, I'm using another PR that does exactly this

[2017-03-08 15:04] nguyentruongtho commented on #423
I did created a PR a while ago https://github.com/facebook/buck/pull/917, but observed a minor improvement. Can you link me to your PR?

[2017-03-08 15:40] Coneko commented on #1224
Can you post a small repro repo on github?

You can also try https://buckbuild.com/rule/prebuilt_cxx_library_group.html instead, at the very least the error messages should be better.

[2017-03-08 15:47] Coneko commented on #1226
Looking at the code it should work if you create a `core_data_model` target and add it to the dependencies of your binary or bundle.

How did you set it up?

[2017-03-08 18:13] liuliusc commented on #1226
Sure. The setup looks like this:
[code]

[2017-03-08 18:48] aary commented on #1224
https://github.com/aary/buck-shared-library-error-report I didn't include `tbb` in the repo, so you will have to run `bash build.sh` to download and compile it.  And then running `buck run :test` should show you the error.

Does that work?

[2017-03-09 03:01] aledalgrande opened #1230 "Getting Started page for iOS/Mac needs an update"
The Getting Started page for iOS/Mac is not up to date. You don't need to run `brew update` now, it will update itself. Also, the command to install Java should be fixed to:
[code]
instead of
[code]

What do you think of putting the docs on Github too, so the community can send pull requests?

[2017-03-09 03:05] LegNeato commented on #1230
@aledalgrande the docs are checked in 👍. Check out :

https://github.com/facebook/buck/blob/63ad3bf1874ab6dbbc8a3e3ecbc81fc9ba6809e1/docs/setup/getting_started.soy#L139

[2017-03-09 03:06] aledalgrande commented on #1230
Oh cool, sorry I missed that. I'll send a quick PR.

[2017-03-09 03:06] #1230 closed

[2017-03-09 17:43] Coneko commented on #1226
Yeah that looks right, at the very least the code seems like it handles that case.

Can you create a small repro repo or gist and post it on github so I can repro it on my machine?

[2017-03-10 10:08] ldjhust opened #1233 "Unable to cast BitmapDrawable to NinePatchDrawable"
Hi Guys,

I hava an android project which was originally built with gradle. Recently I migrate it to buck, due to buck's advantage in build performance. The build process with buck was successful, but when I tested the apk on my phone, it cashed with some scenes. And the log was here:

[code]

The code:
[code]

By the way, the apk built with gradle was fine.

Does anyone has any idea about this?

[2017-03-10 16:53] aiked commented on #829
@ceozhu glad you managed to resolve this. I will close this now.

[2017-03-10 16:53] #829 closed

[2017-03-10 16:54] aiked commented on #1172
@raviagarwal7 Glad this got resolved.

[2017-03-10 16:54] #1172 closed

[2017-03-10 19:39] fkorotkov opened #1235 "Buck package boundary error for BUCK files inside buck-out"
Hey there,

I'm trying to use `genrule`s for handling React Native and some of RN npm packages contain BUCK files which leads to some weird error even though I have `buck-out` ignored on `.buckconfig`. Here is a small reproducible example with two files:

[code]

[code]

If you run `buck build //...` **twice** you'll see this error on the second time:

[code]

Is there a workaround? Why `buck-out`

[2017-03-10 20:42] mlostekk commented on #829
@ceozhu which source.properties did you touch??

[2017-03-11 01:41] fkorotkov commented on #1235
Worked around it by adding `buck/gen` to `project.ignore` because of https://github.com/facebook/buck/blob/667dc14f7852dfde1d54a43bc7e894a8332cd1c2/src/com/facebook/buck/io/ProjectFilesystem.java#L304

[2017-03-11 02:41] aledalgrande opened #1236 "How to migrate from Cocoapods?"
I wanted to road-test Buck, but I can't find any guide on how to convert from Cocoapods to Buck. Does Buck resolve dependencies graphs? Is it only for local projects or can it access one on, say, Github?

Thanks

[2017-03-11 19:46] andrewjcg commented on #1224
Does setting `provided=True` help here?  This will signal to the `prebuilt_cxx_library` that the library is to be provided by the system/deployer at runtime, and so it's safe/appropriate to link dynamically.

[2017-03-12 14:32] aary commented on #1224
@andrewjcg It still gives the same error unfortunately.

[2017-03-13 10:30] vanniktech commented on #1183
Also tried the following variations with the latest commit (62b8c833ee37b2ef3086096ff6e39d4c2dd4b166) which didn't work either:

[code]

[2017-03-13 10:47] timofticiuc opened #1237 "Apple bundle for framework fails to import"
Cheers,

I'm trying to use the examples i've found online to generate an ObjC framework which i can later include in an ObjC project and i keep getting this error: `fatal error: 'ObjcFramework/SampleObjcClass.h' file not found
#import <ObjcFramework/SampleObjcClass.h>`

where ObjcFramework is the framework i'm generating with a BUCK file and SampleObjcClass is one of the exported headers

this is

[2017-03-13 13:16] aiked commented on #829
@mlostekk I think if your project has a source.properties file then you define the NDK as 12.1 or 13.1 and not as r11a or r12c.

[2017-03-13 14:00] ceozhu commented on #829
@mlostekk  under path $NDK_HOME /Users/zhupei/Documents/adt-bundle-mac-x86_64-20140702/sdk/android-ndk-r7b/source.properties ,with contents follow as:
Pkg.Desc = Android NDK
Pkg.Revision = 13.1.3345770

[2017-03-13 17:34] Coneko commented on #1237
cc @nguyentruongtho

[2017-03-13 17:35] Coneko commented on #1236
It's only for local projects.

Usually pods are simple enough that creating an `apple_library` that has all `.m` files as sources and `.h` files as exported headers will work.

[2017-03-13 17:36] Coneko commented on #1235
That is a bit funny, thanks for letting us know.

[2017-03-14 03:00] krossford opened #1240 "I can't build it, help"
![image](https://cloud.githubusercontent.com/assets/4727984/23884064/7429a5a8-08a5-11e7-8c79-437641c08053.png)

[2017-03-14 08:04] ldjhust opened #1242 "How to pass '--set-max-idx-number' to dx"
Hi Guys,

I'm building an android project with buck. And I want to pass the '--set-max-idx-number' to dx, however, I can't find any suggestion in buck's doc.

Can anyone help me please?

Thanks very much!

[2017-03-14 13:30] nguyentruongtho commented on #1237
Framework doesn't work currently, because exported headers from `apple_library` are not propagated up to the bundle. The support for framework started at https://github.com/facebook/buck/pull/1032, and we are currently not actively working on it. Instead, we find another way without frameworks by supporting clang modules https://github.com/facebook/buck/pull/983.

We are discussing about continue

[2017-03-14 13:36] timofticiuc commented on #1237
Thanks dude, thought i was losing my mind. So as i see it, it's either let them link as static libraries or wait for [#983](https://github.com/facebook/buck/pull/983) to be merged

[2017-03-14 13:52] nguyentruongtho commented on #1237
Yes, I'm breaking up https://github.com/facebook/buck/pull/983 into smaller PRs, the first one is recently merged https://github.com/facebook/buck/issues/1238, and working on following up PRs.

Please read up about modules http://clang.llvm.org/docs/Modules.html, it is a similar concept to framework, and if it fits your case, you should wait for that PR to be merged.

[2017-03-14 15:55] aledalgrande commented on #1236
Thanks, I'll see if I can come up with a script to generate a `BUCK` file from a Podspec, as they require more or less the same info.

[2017-03-14 15:55] #1236 closed

[2017-03-14 22:15] ryu2 commented on #1240
It looks like you're using Linux javac on Windows through WSL.  This isn't supported; either use native Windows JDK or use a actual Linux system or VM.

[2017-03-14 22:15] #1240 closed

[2017-03-15 02:26] krossford commented on #1240
So....I can run buck on windows without any problem? @ryu2

[2017-03-15 03:12] ryu2 commented on #1240
Yes but it's a work in progress.

https://buckbuild.com/setup/getting_started.html

Sent from my iPhone

On Mar 14, 2017, at 7:27 PM, kross <notifications@github.com<mailto:notifications@github.com>> wrote:

So....I can run buck on windows without any problem? @ryu2<https://github.com/ryu2>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https:

[2017-03-15 06:55] leg123 opened #1247 "step split_zip with an exception"
BUILD FAILED: //:release_apk failed on step split_zip with an exception:
classpath XXX.class is contained in multiple dex stores

can you help me

[2017-03-15 22:13] aledalgrande commented on #1236
@ChristianOrgler blocked by some other stuff atm, I will get to it soon hopefully, but feel free to work on it.

[2017-03-16 03:10] ldjhust opened #1250 "Multiple entries with same key"
Hi, I'm building my android project with buck in release mode, but it failed ( debug mode works fine ), and the error message are download ( thanks for any help ):

BUILD FAILED: //:release_apk failed on step collect_smart_dex_inputs_hash with an exception:
Multiple entries with same key: com/xxx/xxx/ui/KButton=37bc61e48d6ca78899437eb8b3f6eebe05486ded and com/xxx/xxx/ui/KButton=37bc61e48d6ca788994

[2017-03-16 18:26] fkorotkov opened #1251 "cache.dir_cache_names does not work"
I'm trying to config two dir caches based on [an example from the docs](https://buckbuild.com/concept/buckconfig.html#cache.dir_cache_names) but Buck is still trying to write to `buck-out/cache` folder no matter what I'm trying.

Here is my sample project: https://github.com/fkorotkov/buck-sandbox/commit/a51d516615a259a88a1cb937d381a749be55b6d8

[2017-03-16 22:22] cwoodwar6 opened #1252 "Changing a resource id causes runtime crash"
We have a large, multidex enabled application. We have one module that exceeds the size of a single dex. When building with Buck, we must disable pre-dex because of this large module.

In our application, when a resource id is changed (for example when changing or adding a view id in a layout) the app will compile but crashes at runtime when trying to inflate the view where the id was changed. To

[2017-03-17 08:00] ldjhust commented on #1250
found the reason.

[2017-03-17 08:00] #1250 closed

[2017-03-17 08:59] iceknc opened #1253 "public static final String的常量修改内容无效？"
public static final String的常量增加没问题，但是增加了之后再修改常量的内容，再部署apk，常量内容还是修改前的值

[2017-03-17 10:32] Coneko commented on #1253
Approximate translation:

Changes to a `public static final String` are not being reflected in the built APK.

Can you post a a github repo with a repro? Are you using buckd?

[2017-03-20 02:55] ldjhust commented on #823
Hi @hitYOUcry @marcinkosiba , does this problem has already sloved? I just have the same problem

Thank you

[2017-03-20 03:06] ldjhust commented on #405
@llj098 how do you solve the problem? I just have the same problem too

Thank you

[2017-03-20 03:30] ldjhust opened #1256 "always failed in smart_dex step"
I'm using buck to build my android project, and the debug mode works fine. However, when I add ProGuard and build the release mode, it will always failed in `smart_dex` step, the reason is `OOM`.
I have already set `-Xmx8g` in `.buckjavaargs` file and also tried `max_heap_size=8g` in `.buckconfig`, but the problem is still there, I don't know what to do now, please help!

[code]

Thank you very mu

[2017-03-20 15:39] Coneko commented on #1256
This seems like it's the dx invocation running out of memory, not Buck.

Are you sure you set the `max_heap_size` setting correctly? Buck will not fail if you have a typo or put it in the wrong section.

https://buckbuild.com/concept/buckconfig.html#dx.max_heap_size

[2017-03-20 17:48] guptasourabh opened #1257 "Must set ANDROID_SDK to point to the absolute path of your Android SDK directory"
Getting this error , even after correctly setting the path.

<img width="1249" alt="screen shot 2017-03-20 at 11 08 59 pm" src="https://cloud.githubusercontent.com/assets/4599610/24113668/7f5b5c00-0dc3-11e7-9392-0783cc03b5f2.png">

[2017-03-20 19:17] chaitanya9186 opened #1258 "NameError: name 'thrift_library' is not defined"
I was trying to build https://github.com/shaochuan/buck-fbthrift-example
But getting thrift_library not found error.

Is this implemented? If not how can I get it to work.

Thanks in Advance

[2017-03-20 19:50] ProfessaA opened #1259 "Debug symbols aren't generated for swift files in apple_library and apple_test targets"
I have an `apple_library` target with a swift source file and an objc source file as well as an `apple_test` target with a swift-based `XCTestCase`.  When I build the library with the `dwarf-and-dsym` flavor, the resulting dSYM information doesn't contain any references to the swift code.

[code]
shows debug information for the obj-c library class but not for the swift library class or the swift t

[2017-03-20 20:55] samjoch commented on #1251
@fkorotkov it seems that your `.buckversion` file is too old. ([here for more info](https://buckbuild.com/concept/buckversion.html)) ;-)

[2017-03-20 21:56] fkorotkov commented on #1251
@samjoch updated buck version with no effect. Internally we are using at most two weeks old master and this is just my sandbox for sharing things externally :-)

[2017-03-20 22:19] aajn88 commented on #1176
I'm getting exactly the same error. This is happening after running the command
`buck install --run demo_app_android`

Then, the following is shown in console

    Installing apk on emulator-5554 (null).
    [-] PROCESSING BUCK FILES...FINISHED 0.0s [100%] 🐌  File removed
    [-] DOWNLOADING... (0.00 B/S AVG, TOTAL: 0.00 B, 0 Artifacts)
    [-] BUILDING...FINISHED 0.8s [100%] (1/1 JOBS, 1 UPDATED,

[2017-03-21 01:53] ldjhust commented on #1256
Thanks for your response @Coneko, and here is my `.buckconfig` and `.buckjavaargs`, I'm setting it exactly according to the doc. Is there args that I need to set?

`.buckconfig`
![image](https://cloud.githubusercontent.com/assets/3424674/24129166/9cfa68a2-0e1b-11e7-899d-2c872be756f4.png)

`.buckjavaargs`
![image](https://cloud.githubusercontent.com/assets/3424674/24129179/b6fd839c-0e1b-11e7-97d7-f

[2017-03-21 09:07] hitYOUcry commented on #823
@ldjhust ，I remember I just removed the **use_linear_alloc_split_dex = True** in rule android_binary() than it worked fine like I said before.If it doesn't work for you,I recommend you review your ProGuard file and the split dex strategy.

[2017-03-21 09:09] Coneko commented on #1258
Sorry, the thrift target types have been removed recently (7f1fc34d28b6a76813279d751b5cb243398519f2).

To ease migration, you can update to fed2a70b17025de19aa8d2bbf3bb120b9a432c9d and set the `project.thrift_target_types_enabled` setting to `false` in `.buckconfig`.

If you use thrift in your project you can implement the thrift target types with `genrule`.

[2017-03-21 09:12] ldjhust commented on #823
OK, thanks very much, I'll try it.

[2017-03-21 11:13] brettwooldridge commented on #1037
If any one of you is adventurous, you can try my *kotlin-compiler2* branch (in my fork).  It does not support mixed compilation yet but will soon.  It uses the kotlin compiler daemon under the covers (1.1 required).

[2017-03-21 16:47] kageiit commented on #1037
@brettwooldridge can the daemon client not be run as part of the buck daemon? It seems weird to have a daemon separate from the one in buck which `buck kill` may still leave intact and can lead to weird non reproducible build artifacts.

[2017-03-21 22:40] ProfessaA commented on #1215
@bhamiltoncx that helped a lot since I was able to see the queries being made to watchman (the pertinent logs showed up in `buck-out/log/<timestamp>_testcommand_<uuid>/buck.log`).

It turns out that my buckconfig's `[project] ignore` section had a trailing comma which caused `["dirname", ""]` to be added to the `not` portion of the watchman query.  I guess this causes everything to be ignored.  Th

[2017-03-21 23:00] bhamiltoncx commented on #1215
Ouch! I wonder if we can handle this better. Empty ignores should
definitely be a fatal error.

On Tue, Mar 21, 2017 at 3:40 PM Aaron Levine <notifications@github.com>
wrote:

[2017-03-22 00:34] brettwooldridge commented on #1037
@kageiit I'll look into it, seems feasible.  Still interested in feedback on performance.

[2017-03-22 00:37] samjoch commented on #1251
@fkorotkov you should replace `buck-out, \` with `buck-out` [here](https://github.com/fkorotkov/buck-sandbox/blob/master/.buckconfig#L20).
I noticed the ini validator mixup the `cache` section value with the `project` section values.

[2017-03-22 09:40] ceozhu commented on #1257
![image](https://cloud.githubusercontent.com/assets/5701010/24191359/8d1ca0c4-0f26-11e7-8837-ee6608311000.png)

[2017-03-22 09:42] ceozhu commented on #1257
![image](https://cloud.githubusercontent.com/assets/5701010/24191397/b0bf1d18-0f26-11e7-818f-f8fe51294e97.png)

I have a local.properties with content of sdk and ndk absolute path
as same got the error

[2017-03-22 15:29] brettwooldridge commented on #1037
@kageiit If you are interested in testing the latest changes, I have updated my ``kotlin-compiler2`` branch of my [fork](https://github.com/brettwooldridge/buck).  The Kotlin compile daemon is now started in-process with the buck daemon.

It seems to work on my current Kotlin project.  Successive runs, deleting *buck-out* between, saw decreasing compile times:
[code]

[2017-03-22 17:13] kageiit commented on #1037
Nice. I will test it out on our codebase. we have one big kotlin module right now that we can try this on.

[2017-03-22 17:19] brettwooldridge commented on #1037
@kageiit I'm sure you know the drill, but just in case, I have been running:
[code]
And then doing ``export PATH=<buck>/bin:$PATH`` in the shell I build my Kotlin project in.

[2017-03-22 17:20] kageiit commented on #1037
Should i be changing anything in `.buckconfig`? like kotlin_home etc? Currently, kotlin jars etc. are checked in and buck is pointing to those

[2017-03-22 17:27] brettwooldridge commented on #1037
Good question.  I have nothing in my ``.buckconfig``.  There is [code there](https://github.com/brettwooldridge/buck/blob/kotlin-compiler2/src/com/facebook/buck/jvm/kotlin/KotlinBuckConfig.java) to try to find the Kotlin jars, and you should be able to explicitly define ``daemon_jar``, ``compiler_jar``, and ``runtime_jar`` locations.  Untested.

[2017-03-22 17:34] kageiit commented on #1037
Sure. ill update with results

[2017-03-22 20:02] raviagarwal7 commented on #1184
the pull request is merged now.

[2017-03-22 20:02] #1184 closed

[2017-03-22 23:58] liuliusc commented on #1226
Thank @Coneko , verified the tip of buck now passes my example with buck test.

However, I was confused why the generated Xcode project moves the data model to resource copy rather than compile phase. I don't quite understand the implication to be honest.

To help the discussion:
[code]

[2017-03-22 23:59] liuliusc commented on #1226
I think the file in resources gets compiled properly. Will close this task. Thank you!

[2017-03-22 23:59] #1226 closed

[2017-03-23 03:47] kageiit commented on #1037
@brettwooldridge Compared the performance with external kotlinc vs the in memory one with the daemon. Its a big improvement ~3x even after removing buck-out. The kotlin daemon seems to be no longer active when i kill the buck daemon as expected.

[2017-03-23 03:49] kageiit commented on #1037
The kotlin-compler2 branch seems to have some merge conflicts with master of buck though, which you might want to fix.

[2017-03-23 04:19] kageiit commented on #1256
@ldjhust the `max_heap_size` was merged only recently. Please try against the head of buck sha in your `.buckversion`

[2017-03-23 07:45] nikhilsh commented on #1236
Would love to try out any solutions that you guys might have. I'm currently trying to compile a Swift project using Cocoapods with Buck. My `BUCK` file looks like this:

[code]

and I'm getting the following error:
[code]

not sure where I'm going wrong. Any ideas?

[2017-03-23 08:01] ldjhust commented on #1256
@kageiit thank you for your response, I have tried your suggestion, but it failed with a strange exception in the `split_zip` step:

[code]

I searched it in my project, there was just one `com/big/location/scheduler/d/a` in one of my jar library. I previously used the `buck-v2016.11.11.01` version, and it's fine with `split_zip` step, but failed in `smart_dex` step like above. Do you have opinion

[2017-03-23 11:13] brettwooldridge commented on #1037
@kageiit I'm not surprised.  I rebased a few weeks back onto a stable commit.  Once I get the code closer to where it needs to be I'll fight the rebase fight (unless someone wants to do it can give me a pull request).

Great to hear about the speed improvement!

Somebody might try sending mixed sources into the target (*.java and *.kt), I haven't gotten around to trying it yet, but there is no cod

[2017-03-24 02:50] cwoodwar6 opened #1260 "The javac flag -proc:only is passed to the compiler when compiling dummy r dot java"
When adding the `-proc:only` flag to a target, the flag is also being passed to the java compiler that compiles the dummy r jar. This results in a jar that is empty because only annotation processors were told to run.

Example of the compiler error:
[code]

Ideally the flag is not passed to the compiler when compiling the dummy r jar, only when it compiles the target code.

[2017-03-24 11:01] brettwooldridge commented on #1037
@kageiit @dsyang @ilya-g Does anybody know what the specific purpose of the ``CompilerId`` Kotlin class is, for example, ``CompilerId compilerId = CompilerId.makeCompilerId(compilerIdPaths)``.

My current code [has a hack](https://github.com/brettwooldridge/buck/blob/kotlin-compiler2/src/com/facebook/buck/jvm/kotlin/KotlincShim.java#L91) to work around a strange issue I encountered...

I thought i

[2017-03-24 14:25] Coneko commented on #1236
You can't refer to files with `../`, you need to put the `BUCK` file above them. It should fail the parsing if you use `../`, not sure why it didn't.

[2017-03-24 14:26] Coneko commented on #1236
Did you set `check_package_boundary` to false?

[2017-03-24 18:12] marcinkosiba commented on #1256
@ldjhust I think that error means that you're either using application_module_targets or you somehow convinced buck to put that class into the primary and secondary dex. What does your android_binary rule look like?

[2017-03-24 18:14] dreiss commented on #1260
Are you setting -proc:only explicitly or with annotation_processor_only=True?

[2017-03-24 18:15] dreiss commented on #1260
e1da197cf45cd6846585289767e67989fd31ab8e fixed this in the latter case.

[2017-03-24 18:16] cwoodwar6 commented on #1260
Explicitly, I was not aware of `annotation_processor_only`. Is there an equivalent flag for `-proc:none`?

[2017-03-24 18:57] marcinkosiba commented on #1251
thanks for the help @samjoch!
@fkorotkov, you can check if your config is correct by using the `buck audit config cache` command
FWIW if you set both dircaches to readwrite buck will write to both.

[2017-03-24 19:02] runningcode opened #1261 "NoSuchMethodError when compiling buck"
Repro steps:
Checkout sha `badea1926e28e77836223fa2524f96b5b1adfec2`
`ant`
`./bin/buck build buck`

I get the following stack trace
[code]

Other tasks also fail with the same exception.

I also tried
`./bin/buck clean` and then `./bin/buck build buck` and it still failed.

[2017-03-24 19:09] aiked commented on #1261
@runningcode I'm on it.

[2017-03-24 19:40] aiked commented on #1261
Yeap, I didn't find any issues. Glad it got resolved.

[2017-03-24 19:40] #1261 closed

[2017-03-24 21:25] dreiss commented on #1260
annotation_processor_only is the structured way to pass -proc:only, so we can automatically remove it when passing flags to the step that compiles dummy R.java.

We should be ready to finalize and document the arguments supporting APs soon.

[2017-03-24 21:25] #1260 closed

[2017-03-24 21:30] aledalgrande commented on #1070
I think this should be added in the `.buckconfig` file of the iOS demo folder.

[2017-03-25 00:23] aledalgrande opened #1262 "Compiling a Metal library for iOS"
Hi,
I couldn't find any mention on how to build a library that has `.metal` files in it, is it not supported currently?

The command to compile the single file would be like:

Currently a showstopper for me in adopting Buck.

[2017-03-25 00:59] aledalgrande commented on #440
Looks like there was a development here, but it was never documented. https://github.com/facebook/buck/pull/1263 adds docs.

[2017-03-25 01:31] aledalgrande opened #1264 "Buck doesn't issue a warning when a library has no files"
While I was experimenting with Buck, I had trouble understanding when a glob command was not working at the beginning, since Buck doesn't issue a warning if there are no headers and no sources for a library. In that case the rule is silently ignored.

I tried to use `buck build --verbose 8` to understand which files were being included by a rule, but to no avail.

For a better UX, would it be poss

[2017-03-25 02:11] ryu2 commented on #1262
There's currently no built-in rule for Metal but you can work around this via a genrule for now:

[code]

[2017-03-25 07:21] aledalgrande commented on #1262
@ryu2 what is the effort to make a built-in rule for Metal? Maybe I can take a shot at it.

[2017-03-25 17:02] njlr commented on #518
Has anyone made any progress on this?

I am having a similar issue where a legacy build system generates a folder of headers that I need to reference. Unfortunately the legacy build system is very complex, and reimplementing it properly in Buck is probably unrealistic, hence the need to "wrap" it.

[2017-03-26 14:06] nikhilsh commented on #1236
Nope I did not. I placed the `BUCK` file one level higher, but I'm getting the same error again 😢

[2017-03-26 20:39] ryu2 commented on #1262
It's not conceptually too difficult; there's just a bunch of boilerplate that needs to be written though.

You can see for an example 7fdaaf2c432e692d9811e3c2a8d299d5cf8ab8c0 and 664a01ee79283db9878181bb281d24903be032a0 which adds support for SceneKit.

[2017-03-27 01:50] ldjhust commented on #1256
@marcinkosiba thank you for your response, I just use the `use_split_dex` arg, and didn't use other special args. Here is my `android_binary` rule:

[code]

[2017-03-27 04:36] ldjhust commented on #1256
@marcinkosiba I find a workaround, add the "-keep class com.big.location.scheduler.**" to the ProGuard config file, and then the `split_dex` error disappeared. But I don't why

[2017-03-27 06:45] Skilence opened #1265 "How to support proxy authentication in buck?"
[download]
    proxy_host=proxy.example.com
    proxy_port=8080
    proxy_type=HTTP

Where can I set proxy username and password for the proxy authentication?

[2017-03-27 06:53] Skilence commented on #1265
Proxy requires permission authentication, but can not find the place to set username and password..

So:
[2017-03-27 14:21:18.352][info ][command:58d59f82-ee71-4f04-be9c-83b3385bd7c9][tid:27][com.facebook.buck.file.HttpDownloader] Unable to download https://oss.sonatype.org/content/repositories/snapshots/org/projectfloodlight/openflowj/3.0.0-SNAPSHOT/openflowj-3.0.0-20161029.095322-40.jar: authent

[2017-03-27 08:57] rspencer01 opened #1266 "Dependency type in dot output"
It would be nice to have some sort of visual distinction between the different types of `dep`, such as `provided_dep`, `dep` and `exported_dep`, such as dashed or different colored lines in the dot graph returned by `buck query --dot`

[2017-03-27 10:58] aiked commented on #1264
@aledalgrande it's a bit more complicated than that.

There are cases where a glob depends on platform or another factor and it's an accepted scenario to not have headers or sources for some cases. Printing a message then it would confuse the user.

What we could do is create a strict mode for the BUCk files that throws in the cases that you never expect an empty glob. I think that would be a good

[2017-03-27 11:19] Coneko commented on #1264
It's not documented but the `build.allow_empty_globs` setting does exactly that.

You can set it in your `.buckconfig` as:

[code]

[2017-03-27 11:21] aiked commented on #1266
This sounds like a good idea! I will admit that probably won't have time to get to it but if you can hack it up I would be happy to review etc. The code you need is located at https://github.com/facebook/buck/blob/master/src/com/facebook/buck/cli/QueryCommand.java

[2017-03-27 11:22] aiked commented on #1264
Great! I will close this now.

[2017-03-27 11:22] #1264 closed

[2017-03-27 11:25] Coneko commented on #1265
You can set the credentials for maven here: https://buckbuild.com/concept/buckconfig.html#credentials but I don't think you can set them for the proxy.

[2017-03-27 11:33] Coneko commented on #518
Note this is just a UI improvement, it would still be functionally equivalent to creating a genrule for each file, minus the copy.

[2017-03-27 11:54] aiked commented on #1266
Feel free to re-open if you want to go after it.

[2017-03-27 11:54] #1266 closed

[2017-03-27 12:04] Skilence commented on #1265
@Coneko Thanks for your help!

I can download maven file because we have the maven mirrors, but other files  need to be downloaded by proxy. So set the credentials can not solve the problem.
I try to download the jar file by manual and put them to buck-out/bin or buck-out/gen dir, but it didn't work. Do you know how to  handle it?

[2017-03-27 12:23] Coneko commented on #1265
You will need to change the Buck code to support it.

The code lives here: https://github.com/facebook/buck/blob/master/src/com/facebook/buck/cli/DownloadConfig.java#L36 .

[2017-03-27 13:50] njlr commented on #518
@Coneko Thanks for the response. Is there a recommended approach when there are hundreds of files? I don't think it's possible to read the output directory of the `make` genrule to get the list of header files.

[2017-03-27 14:55] Coneko commented on #518
You need to know the names of the files in advance and write them in the build files.

You can do that using a python loop if you which, but you cannot list files in the output directory.

The same limitation exists with the new syntax.

[2017-03-27 15:33] njlr commented on #518
Yes, that works.

For those who stumble on this, try something like:

[code]

[2017-03-28 01:54] ldjhust commented on #1256
thank you guys, I have already knew it~

[2017-03-28 01:54] #1256 closed

[2017-03-28 05:01] brettwooldridge opened #1267 "$(query_targets) parsing error"
I have a genrule that looks like this:
[code]
This rule generates the following error from Buck:
[code]
However, this interactive command from the shell works:
[code]
The documentation states:

Of which the above expression appears to conform.

Ultimately, our goal is to generate a rule that depends (dynamically) on labeled *java_library* targets, and queries their respective outputs via ``$(query

[2017-03-28 06:28] kageiit commented on #1267
Make that ``` \\$(``` instead. It is breaking because buck is trying to expand it as a macro instead outputting it as is.

[2017-03-28 07:59] LegNeato opened #1268 "Time for a buck release"
`v2016.11.11.0` is also the latest release on homebrew:

https://github.com/facebook/homebrew-fb/blob/master/buck.rb

[2017-03-28 08:01] LegNeato commented on #1268
Looks like there is a script in https://github.com/facebook/buck/blob/master/scripts/updatehomebrew.py

[2017-03-28 10:07] ligee commented on #1037
@brettwooldridge `CompilerId` is used to search compatible running daemons. And this is most likely has nothing to do with the issues you're having.

There is one known racing condition which is usually marked with "Daemon is dying" message in the `reportingTargets`. It happens when several daemons are started in parallel, and then they are making internal elections to limit the number of compatib

[2017-03-28 10:15] brettwooldridge commented on #1267
@kageiit Nope.  Because this works:
[code]
If I replace ``//netld/provider.collection:com-dancer-provider-collection-kt`` with ``//...`` it fails the same way.

[2017-03-28 11:08] aiked commented on #1268
hey @LegNeato, I can't promise this will happen today but I putted on the roadmap.

[2017-03-28 11:10] brettwooldridge commented on #1037
@ligee Thanks!  That leads to more questions.  We want the daemon to live for the life of the buckd process (i.e. possibly hours or days).  If I use the lease, what does the daemon do when the last lease is released?  Does it exit?

Another question.  It seems we need multiple daemon instances running, is that expected?  I thought we could start one daemon instance, and then run compiles from N nu

[2017-03-28 14:11] Coneko commented on #1267
cc @asp2insp

[2017-03-28 16:01] asp2insp commented on #1267
the `query_*` macros only support target literals right now (no `//...` or aliases). These could be supported by plumbing a `BuckConfig` object and a `Cell` instance down to the `MacroExpander` so that the macros can resolve  them.

[2017-03-29 11:53] aiked commented on #1268
facebook/fb/buck: stable 2017.03.29.01 (bottled), HEAD

I think this is done. Check https://github.com/facebook/buck/releases/tag/v2017.03.29.01 and tell me something is broken.

Thank you for reminding us, I will try to make this a scheduled job.

[2017-03-29 13:45] p0deje opened #1269 "Buck does not compile Java on UNC paths"
I've had an issue when using buck in Selenium project on Windows. It fails to work correctly inside network directories. @shs96c pointed out that it might be a problem with UNC paths, so I prepared a Vagrant box to reproduce this behavior.

**Prerequisites**

* [Vagrant](https://www.vagrantup.com) is installed (tested on 1.9.3)
* [VirtualBox](https://www.virtualbox.org) is installed (tested on 5.1

[2017-03-29 14:31] ligee commented on #1037
@brettwooldridge There are two main "hooks" to the daemon lifetime.
The first is the `clientAliveFlagFile'  that you pass to the connect functions. When the file is deleted, the daemon stops. You can use it to ensure that daemon will be stopped when the `buckd` process is stopped. (I'm usually calling `deleteOnExit` on this file) But the daemon can exit earlier if some timeout occurs, e.g. by defa

[2017-03-29 21:43] aledalgrande commented on #1268
@aiked I saw you created a release, but I think you need to also submit a change to https://github.com/facebook/homebrew-fb to make it available in Homebrew, unless I'm missing something.

[2017-03-30 07:15] aledalgrande commented on #1268
Opened https://github.com/facebook/homebrew-fb/pull/17, but there is an issue with the bottle.

[2017-03-30 18:49] brettwooldridge commented on #1037
@kageiit I have rebased my changes onto master; what a pain in the a**.  I also implemented the daemon leasing scheme suggested by @ligee.  That means that Kotlin 1.1.1 is required.

The new branch is ``kotlin-compiler`` (not ``kotlin-compiler2``).  It seems to be working, but I know the code still needs some work.

3:45am here so I'm knocking off for tonight.  Let me know how it works for you.

[2017-03-30 18:50] kageiit commented on #1037
Sure. I'll give it a whirl. Thanks for all the efforts!

[2017-03-31 00:07] asp2insp commented on #1267
If you have a list of top-level targets you can specify multiple targets with `set(target_a target_b)` etc. Or you could create a top-level target that has dependencies on the targets that you care about. Expanding `//...` is really expensive during parsing, so after some discussion, we're unlikely to support it.

[2017-03-31 00:07] #1267 closed

[2017-03-31 00:26] brettwooldridge commented on #1267
@asp2insp Thanks.  We sliced the cake in a different way to solve our use case.

[2017-03-31 12:00] ilya-klyuchnikov commented on #1269
Buck on windows is not supposed/prepared to work with UNC paths in general. Do you really need to put selenium on UNC path here?

Two workarounds for this particular build:
1. Clone selenium into `c:\selenium`, not into `c:\vagrant\selenium` OR
2. I you use `c:\vagrant\selenium` - run `c:\buck\bin\buck build //java/client/src/org/openqa/selenium/security:security -c log.chrome_trace_generation=no`

[2017-03-31 18:02] kageiit opened #1272 "Buck fails to build sometimes due to ClassNotFoundException exceptions"
We sometimes see buck fail during the build with stack traces like this

[code]

We are on buck head. Any idea what the issue could be? It happens with and without buckd

[2017-03-31 19:27] #1259 closed

[2017-03-31 21:27] ProfessaA opened #1273 "Variable resolution when debugging swift code doesn't work"
I have an `apple_library` and `apple_test` both containing only swift code.  I'm building the `xctest` bundle for the test target via buck but running the test bundle through xcode.  Breakpoints set through the UI are triggered properly but any kind of variable inspection doesn't work.

When trying to inspect variables in lldb, I get the message "warning: Swift error in module MySwiftTests. Debug

[2017-04-03 04:18] huy-le commented on #423
@nguyentruongtho Hi Tho, I found that you have many experiences on the Buck for Swift, a tried to build a dynamic framework by Buck, anything seems ok until the compiler cannot compile a file that is implemented the `extension` for a protocol.

Do you know what is the tool Buck use to build the files of Swift, does it use xcodebuild?

This is the BUCK file I use, the code compiled well on xctool,

[2017-04-03 12:46] njlr opened #1275 "Issue with fresh build on Windows: no module named "ng""
I have built the latest version ([fca5b9aad...](https://github.com/facebook/buck/commit/fca5b9aadd558e41084fdf4681e10fb11efda272) at the time of writing) with Ant on Windows. I installed the suggested dependencies using Chocolatey.

The build succeeds, but when I try to run Buck I get this error:

    File "C:\Users\...\buck\third-party\nailgun\pynailgun\__init__.py", line 1, in <module>
      fro

[2017-04-03 13:22] njlr commented on #1275
I did `choco install python2`, rebooted, rebuilt and now it works. I think that I installed Python 3 the first time.

Perhaps the docs should be clearer, or maybe the Buck program should check the Python version and throw a warning?

[2017-04-03 14:13] p0deje commented on #1269
I'm setting up a Vagrant box to make it easier to test Selenium on Windows while still allowing to develop it on host OS (macOS, Linux). To have it I need to use a synced folder to propagate changes from host OS to a guest one. The default synced folder on VirtualBox is mounted as a network directory. Most of other options for syncing folders requires additional software (SSH for RSync, NFSD for N

[2017-04-03 17:12] njlr opened #1276 "Buck tries to use \usr\bin\gcc on Windows?"
I am trying build a hello-world example in C/C++ on Windows using Buck.

I have installed Buck to `C:\Buck` (the space in `Program Files` seems to cause issues) and I can launch the application in PowerShell via the `PATH`:

    PS> buck --version
    buck version *5417cc02fc9d6dbe9bd9d9a39e19b6d74f7fb90f

I have installed VS 2017, VS 2015 and LLVM 4.0. I can build the example using these tools di

[2017-04-03 21:23] raviagarwal7 opened #1277 "Incremental changes to a class are not being picked by the APK"
__Android Binary Rule__:
[code]

__Steps to repro__:
 - Add a print statement in a class method whcich doesn't go into the primary dex
 - run install `buck install //app:bin_debug`
 - the print statement doesn't gets picked up in the apk.

__Analysis__:
- buck-out/bin output which differs from 1st run
[code]
- buck-out/bin output which doesn't differ from 1st run
[code]
Final apk in gen also remai

[2017-04-03 21:23] raviagarwal7 commented on #1277
cc: @dreiss

[2017-04-04 02:01] renchiyansc opened #1278 "Duplicate file for apk errors during buck build"
Hi I have the exactly same issue with #872
Do we have flag support this now?
If not, can you guys share how to wrap the prebuilt_jar in a java_binary?

Thanks very much!

[2017-04-04 02:01] renchiyansc commented on #1278
@kageiit @aiked

[2017-04-04 08:47] nguyentruongtho commented on #423
Framework doesn't work yet for swift as I commented in https://github.com/facebook/buck/issues/1237#issuecomment-286421087.

Buck doesn't use xcodebuild, it uses command line tools (https://developer.apple.com/download/more/).

[2017-04-04 20:20] raviagarwal7 commented on #1277
tried running the build on ~15 different commits from now till 30th dec 2016, this still doesn't work. can't go before that as the app doesn't build with older versions.

[2017-04-05 09:23] ldjhust opened #1279 "Does buck support manifestPlaceholders in AndroidManifest.xml?"
In Gradle, manifestPlaceholder is use like below:
AndroidManifest.xml:
[code]
build.gradle:
[code]

Does buck support this or a similar feature?

Thank you very much!

[2017-04-05 11:03] Coneko commented on #1279
You can generate the `AndroidManifest.xml` file from a `genrule` and do whatever you want as far as I can tell: https://buckbuild.com/rule/genrule.html

Alternatively this might be what you are looking for: https://buckbuild.com/rule/android_binary.html#manifest_entries

[2017-04-05 11:04] Coneko commented on #1279
Oh I just noticed it's not documented: `manifest_entries` can contain a `placeholders` value, which is a map of placeholder names to placeholder values.

[2017-04-05 16:30] runningcode commented on #1272
I've seen this a couple times as well, but its not reproducible. This seems to be a safe SHA `216919bbcc59403eeacfa9ce20a07fa37002da50`

[2017-04-05 17:03] dsyang commented on #1037
Hey @brettwooldridge this is awesome!

Would you be comfortable putting your changes in `kotlin-compiler` up in a PR so we could start reviewing it?

I know there's still some work that you'd like to do but this could make it easier to merge later down the line.

[2017-04-05 18:02] kageiit commented on #1037
@brettwooldridge Sorry forgot to report back. The latest changes look good

[2017-04-05 23:21] runningcode opened #1280 "Buck doesn't package java resources in to the android_library rule."
If you add java resources to an android_library rule like so:
[code]
They do not get packaged in to the final APK, but if this same android_library rule depends on a prebuilt_jar which contains java resources, they will get packaged in to the final APK.

Here is a sample with a repro of this issue:
https://github.com/fbsamples/bucksamples/compare/master...runningcode:no/resources?expand=1

[2017-04-05 23:54] brettwooldridge commented on #1037
@dsyang @kageiit I ditched the Kotlin daemon changes.  buckd is already a daemon, so now I directly instantiate a K2JVMCompiler that is kept alive for the lifetime of buckd. Performance seems to be identical to the previous incarnation but the code is *substantially* simpler.

Give it a try if you have a chance.

@dsyang I'll try to put together a pull request.

[2017-04-05 23:56] kageiit commented on #1037
sounds great. Ill give it a try

[2017-04-06 01:02] ldjhust commented on #1279
OK, thanks very much @Coneko !

[2017-04-06 01:02] #1279 closed

[2017-04-06 08:04] ldjhust opened #1281 "How to merge same name attribute in different aar module?"
I have a big android project, which depends on some aar modules, and some of these modules have some same name attributes. When I build the project with buck, there are some errors like below:
[code]

As I can't modify the aar module, how can I solve this problem? Has there a solution to merge the attributes in different aar module?

Thank you very much!

[2017-04-06 19:45] dreiss commented on #1280
This was done intentionally to match the behavior of the official Android build system at the time (ant).  What do you think is the proper behavior, and why?

[2017-04-06 19:49] runningcode commented on #1280
Why does the android_library rule have `resources` and `resources_root` options if they are ignored?

By default, the Android Gradle Plugin includes resources in the `src/main/resources` folder of your build. The resources are included based on the following rules: https://google.github.io/android-gradle-dsl/current/com.android.build.gradle.internal.dsl.PackagingOptions.html

[2017-04-06 20:11] dreiss commented on #1280
I think it just inherits them from java_library, and they aren't totally ignored.  They would be included in a java_binary. :)

[2017-04-06 20:20] connected-jallen commented on #371
@sdwilsh The reason why no one at Facebook is using Data Binding is because Buck does not support Data Binding. The reason you give is a catch 22 :) Data Binding is pretty awesome. It might be better for Android dev in Facebook if Buck kicked off a Gradle job in the end.

[2017-04-06 20:35] dreiss commented on #1280
We could probably add support for merging these resources in.  I'm not sure what the unintended consequences would be, though.

BTW, why do you need this?  IIRC, getResourceAsStream allocates a ton of heap memory on Android, and using the AssetManager works much better.

[2017-04-06 20:45] dreiss commented on #1277
Can you try this?  After you build, edit, build (with buckd), and see that the changes were not picked up, can you run "buck verify-caches" and see if it reports any issues?

[2017-04-06 21:12] raviagarwal7 commented on #1277
verify caches returns no errors
[code]

[2017-04-06 21:51] runningcode commented on #1280
Yeah we're in the process of migrating our code so we stop relying on this, but I can see this being a blocker for other people trying to use buck. It took me a long time to diagnose.

Also, if an android_library rule depends on a java_library rule with these resources, they don't get picked up in that situation either.

[2017-04-07 06:07] Coneko commented on #1272
This usually means you need to run `ant clean` and rebuild Buck from scratch.

Does this happen if you use Buck built with Buck?

[2017-04-07 06:09] kageiit commented on #1272
This happens even after `git clean -fdx; ant` inside the buck codebase.

Running `killall java; watchman watch-del-all` seem to make it work sometimes (i.e killing off any old buck daemons)

[2017-04-07 11:50] nguyentruongtho commented on #1187
Update: I've just verified `watchman 4.6.0` doesn't have this issue.

[2017-04-07 18:09] jkeljo commented on #1272
I've seen this with `buckd`, but never without. Are you sure you get it even with `NO_BUCKD=1`?

[2017-04-07 23:16] #1215 closed

[2017-04-10 02:23] yangwuan55 commented on #371
I think we can use the freeline now.

[2017-04-10 17:46] mustafasc opened #1284 "Buck unable to rebuild from source when used as a git submodule"
If Buck is embedded in a Git repo as a submodule, it is unable to infer that it can rebuild from source. This makes a project's .buckversion unusable since Buck does not respect it nor is it aware to rebuild from source.

[code]

The source of the problem is this statement:
[code]
https://github.com/facebook/buck/blob/master/programs/buck_repo.py#L146

For submodules, `.git` is not a directory but

[2017-04-10 18:54] kageiit commented on #1280
They do get picked up if `android_library` depends on `prebuilt_jar`s though

[2017-04-11 02:22] kageiit opened #1285 "BuckJavacTask breaks custom compilers"
This commit introduced a regression in being able to consume custom compilers like error prone in buck

https://github.com/facebook/buck/commit/590b4a96c098f9b90a6f3ec42b761fc749a9a861

Specifically this line: https://github.com/facebook/buck/blob/master/src/com/facebook/buck/jvm/java/plugin/api/BuckJavacTaskProxy.java#L42

Causes the build to insta fail with this message

[code]

buckconfig is as

[2017-04-11 02:22] kageiit commented on #1285
cc @jkeljo @illicitonion @dreiss

[2017-04-11 03:10] kageiit commented on #1285
cc @cushon @msridhar want to get your thoughts on this. Seems like buck requires the `getTask` method of the custom compiler to return a `JavacTask` instead of a `CompilerTask`.

@cushon would you be ok if we changed https://github.com/google/error-prone/blob/master/check_api/src/main/java/com/google/errorprone/BaseErrorProneJavaCompiler.java#L85 to return a `JavacTask` with the methods delegating

[2017-04-11 03:19] kageiit commented on #1285
@cushon seems like The Javac Plugin for error prone does not do a refactoring/patching as well even if we were to pursue that approach instead of the one I suggested above. https://github.com/google/error-prone/blob/master/core/src/main/java/com/google/errorprone/ErrorProneJavacPlugin.java#L38

Is that accurate?

[2017-04-11 03:23] jkeljo commented on #1285
@kageiit yeah that commit does make Buck want a compiler that looks a little more like `javac` than previously, though still it's not expecting specific `javac` internals so it felt like fair game at the time.

I could probably make `BuckJavacTask` be more forgiving of differences, but there are going to be features that stop working if the custom compiler doesn't support all of `javac`'s public A

[2017-04-11 04:06] kageiit commented on #1285
I opened https://github.com/google/error-prone/pull/598 to address this as a possible fix in error prone

[2017-04-11 04:17] kageiit commented on #1285
After the above change, I see a new exception in buck

[code]

[2017-04-11 04:24] kageiit commented on #1285
Seems like this is related to an enum only present in jdk 9 and since error prone relies on jdk 9, `TaskEventMirror` needs to add this as well to its list of enums being mirrored

https://github.com/google/error-prone-javac/blob/upstream/src/jdk.compiler/share/classes/com/sun/source/util/TaskEvent.java#L77

[2017-04-11 04:33] kageiit commented on #1285
I opened https://github.com/facebook/buck/pull/1286 to address the above issue

[2017-04-11 04:55] brettwooldridge commented on #1037
@dsyang @kageiit Can either of you shed light on [what this is about](https://github.com/facebook/buck/blob/a1b1a416fcc3f12360c9d44a704d805a3927ccc6/src/com/facebook/buck/android/AndroidLibraryDescription.java#L63), and how it is used from an external .buckconfig or BUCK file perspective?

[2017-04-11 06:37] kageiit commented on #1037
@brettwooldridge I think this was added a while ago as mixed source compilation was not possible before. So that enum was a way of indicating that only `.kt` or `.java` files can be part of the `srcs` i.e there cannot be a mix of multiple language types. I think that limitation can be lifted if mixed source compilation is possible.

[2017-04-11 12:06] rahul-a commented on #85
Any update around annotation processing feature being available in open source version? Can't get this to work

[2017-04-11 13:36] #1069 closed

[2017-04-11 21:37] kageiit opened #1288 "Too many open files during build"
We are seeing sporadic issues with this stacktrace in buck on ci

[code]

We are on buck version f6b6388c3dfd6f8323879fb3a61ec02291498bfa

[2017-04-11 21:38] kageiit commented on #1288
Tagging @andrewjcg and @dreiss as this change recently seems related https://github.com/facebook/buck/commit/5445cc26c0507e736f5e758e6ff446e2eb134106

[2017-04-11 21:43] dreiss commented on #1288
I don't think it's related.  File hash cache and rule key cache are independent.  Are you able to get the list of open files?

[2017-04-12 01:18] kageiit opened #1289 "Buck builds fail with Assertion error"
Seeing this stacktrace on specific targets. reproducible 100% of the time

[code]

cc @jkeljo @illicitonion

[2017-04-12 01:19] kageiit commented on #1289
`.buckversion` is at 78a14a1a70a196ea67f4b04d03afade0eb3b9e16

Let me know if you want the rule definition and I can provide it

[2017-04-12 01:32] kageiit commented on #1288
We are actually seeing multiple stack traces

[code]

[2017-04-12 07:43] brettwooldridge commented on #1037
@kageiit It seems my mental image if "mixed source" was off (I don't use mixed source).  Looking at the existing Kotlin build tasks (ant/maven), "mixed source" compilation seems to simply mean "invoke kotlinc, then invoke javac".

So, in summary, is this issue basically about being able to do the following?
[code]
With the result being a .jar file of compiled Kotlin and Java classes?

[2017-04-12 07:50] kageiit commented on #1037
Yep

[2017-04-12 08:04] brettwooldridge commented on #1037
@kageiit Ok, thanks.  That's next on the agenda then.

[2017-04-12 11:58] nikhedonia opened #1290 "platform_linker_flags not working correctly?"
I'm trying to customize my build using platform specific libraries.
Unfortunately i can't get it working on debian nor osx.
For some reason `platform_linker_flags` are only matching on `default`.

[code]

buck version: adc0f78a68db45334098ac083171c7c2ebc32a8c (v2017.03.29)
`uname -s` returns Linux
in java: `System.getProperty("os.name")` returns 'Linux' as well.

[2017-04-12 16:37] njlr commented on #1290
Can confirm the same issue on macOS - the platform is "default"

[2017-04-12 19:28] voznesenskym commented on #1290
Confirmed - Ditto for us. Let me know if you need an example project created.

[2017-04-13 09:45] dajmaki opened #1291 "Haskell library incremental builds"
I'm looking to use buck to build a large haskell code base with large haskell_library targets, so
I'm wondering if there are any plans to support incremental compilation within a haskell_library target now that most of the issues with GHC determinism have been solved?

[2017-04-13 20:03] tildedave commented on #825
@kageiit Hi there, I had a similar issue and I discovered I could get the actual cause of the problem by running buck in verbose mode.

This encountered that the actual coverage command was failing, for me it looked like this:

[code]

My issue turned out to be two classes with the same name which causes Jacoco to fail.  Hope this is helpful!

[2017-04-14 08:10] raviagarwal7 commented on #1277
**Update**
Seems like this https://github.com/facebook/buck/commit/67d8a029f87e4a6324f2286fad53073e104a01b2 introduced a regesssion for the default case i.e when `client.skip-action-graph-cache` is not set or is `false`.

(A)
[code]

(B)
[code]

also I noticed that after doing (A) if I do (B) with or without `buck clean` (instead of `rm -rf buck-out`) the change is detected as there is 100% cache

[2017-04-14 08:22] hzsweers opened #1292 "Does NdkCxxPlatforms need to statically define versions?"
This is a recurring issue for us, as [we have to manually update every time there's a new major NDK release](https://github.com/facebook/buck/pulls?q=is%3Apr+author%3Akageiit+ndk+is%3Aclosed) and it blocks local development until we update buck or go through the tedium of downgrading the NDK version on the system. Can we make the number matching accept any upper bound with the caveat of being unsu

[2017-04-14 08:56] brettwooldridge commented on #994
@kageiit @Coneko I'm running into something similar working on the improved Kotlin compiler support.  I really want to be able to reference a target in ``.buckconfig``...
[code]
where there is a rule:
[code]
But for the life of me I cannot figure out how to get the resolve to work.  I get a similar error to that above:
[code]
It would be nice to be able to simply change the jar version in the rule

[2017-04-14 16:24] ramubhai commented on #1275
Gote same error.

[2017-04-15 02:45] ProfessaA opened #1294 "Linker flag location macros don't get expanded during Xcode project generation"
I have an `apple_library` with an exported linker flag that uses the location macro.  The macro does not get expanded during xcode project generation resulting in a linker error.  I noticed the project generator is using an `AsIsLocationMacroExpander` to explicitly not expand those macros but don't understand why.  In my case, I'm trying to `-force_load` a prebuilt library via:

[code]

which work

[2017-04-15 16:45] kageiit commented on #994
I think if the usage is in `.buckconfig`, SourcePath is the only way to go as the target graph is not ready yet.

Also, why would the user need to update the path in multiple places?

[2017-04-18 15:53] Coneko commented on #1294
cc @dinhviethoa

[2017-04-18 15:53] Coneko commented on #1294
This is a known issue but I don't know what our plans for this are.

[2017-04-18 15:57] Coneko commented on #1292
I believe this is related to the fact google has changed how the NDK and SDK identify versions several times: both in how to find the version string, and how the version string is to be interpreted.

Ideally we'd have the users specify what version is installed where in the config, rather than doing the whole find installed versions ourselves voodoo, but that is probably not happening anytime soon

[2017-04-18 15:57] #1292 closed

[2017-04-18 15:58] Coneko commented on #1290
What is the command you are running? This might only work if you explicitly run `buck build target#linux-x86_64`.

[2017-04-18 15:59] Coneko commented on #1288
Have you increased the open file limit on your machines? I assume this is on macOS machines, which has an extremely low value as the default.

[2017-04-18 16:00] Coneko commented on #85
cc @jkeljo

[2017-04-18 16:03] Coneko commented on #1284
Thanks for letting us know!

I don't remember the specifics, but I remember something similar was brought up before.

Unfortunately we're deprecating the self-building feature of Buck in favour of using the built PEX, so we probably won't be looking at this, sorry.

[2017-04-18 16:03] #1284 closed

[2017-04-18 16:20] njlr commented on #1290
I get the error when running just `buck build :my-target`. Do we have to specify the target for every build? Seems like it would be more streamlined if the platform macro expanded to the actual host platform by default.

[2017-04-18 16:57] kageiit commented on #1288
These are actually on linux. We increased the limit to more than the default i.e 8192 to a much higher value. We are able to get by, but have not had time to look into whats causing the issue yet. We are planning to profile this soon and will respond back with info. cc @msridhar

[2017-04-18 17:25] Coneko commented on #1290
I don't know, depends on whether it works if you expand it manually. If it doesn't it could be another issue.

[2017-04-18 17:37] mustafasc commented on #1284
@Coneko - Can you elaborate on how Buck will bundle built Java classes into PEX (my assumption was that it's for bundling Python code)?

If there is already documentation on the details, that'd be great.

Thanks!

[2017-04-18 17:52] njlr commented on #1290
I have made a small C++ project here: [https://github.com/njlr/buck-platforms](https://github.com/njlr/buck-platforms).

Here are my results on macOS:

[code]

[2017-04-19 09:54] nikhedonia commented on #1290
I can confirm. On Linux i have the same behavior but the other way around:

[code]

[2017-04-19 11:35] Coneko commented on #1290
Yep, then it's what I mentioned above.

cc @andrewjcg, @Ktwu was either of you two looking at this?

[2017-04-19 11:35] Coneko commented on #1290
cc @mzlee as well.

[2017-04-19 11:37] Coneko commented on #1284
The jars are added as a resource, see https://github.com/facebook/buck/blob/master/programs/BUCK .

[2017-04-20 10:35] ccascone commented on #1258
Hi @Coneko is there any chance support for thrift target types will be added soon again? If not, why was it removed in the first place?

[2017-04-20 16:34] kageiit opened #1300 "Improve resolution of symbols in buck project --skip-build"
The libraries/xml files have references to jars in buck-out even if they are prebuilt jars/aars

It seems wasteful to have to force users to do a build to resolve those symbols
instead of directly pointing at the prebuilt jar/unzipped aar (unzip should be very cheap to do even with `--skip-build`) location.

It would have more symbols then without building for prebuilts and only codegen symbols wo

[2017-04-20 16:34] kageiit commented on #1300
cc @styurin @dreiss

[2017-04-20 17:24] Coneko commented on #1258
Sorry we're not adding them again, we implemented them in build defs in our repos where we use thrift.

I don't know if we can easily post them anywhere, @andrewjcg ? Maybe even in a non-working state as a reference implementation?

[2017-04-20 17:38] ccascone commented on #1258
@Coneko that would be great, thank you!

[2017-04-20 18:08] rahul-a commented on #371
I am working on trying to add support for databinding to Buck but I noticed some weird behavior.

So right now I'm plugging in the annotation processor into my `android_library` which is dependent on an `android_resource` (I've added a step to write intermediate layout info to project's gen path) and processing works fine but due to my library files being `DummyRDotJava` files their declarations a

[2017-04-21 09:57] shs96c opened #1301 "Java tests within suites cannot be filtered"
At some point in Buck's lifecycle, a test within a suite could be the target of a filter:

[code]

`buck test //:test-target -f SomeTest`

would only run `SomeTest` and not `SomeOtherTest`. This now no longer works, and makes working with test suites incredibly cumbersome.

[2017-04-21 10:02] illicitonion commented on #1301
@marcinkosiba you changed test filtering a while ago...

[2017-04-21 23:09] ProfessaA opened #1304 "Entitlements are not used for simulator builds"
Entitlements are ignored for buck builds targeting the simulator.  For example, if you have entitlements that specify an app group for your app and extension, the app and extension will not be able to communicate in simulator builds.

For simulator builds, xcode uses adhoc codesigning but embeds the specified entitlements in the `(__TEXT,__entitlements)` section of the binary.  This can be verifie

[2017-04-21 23:18] LegNeato commented on #1304
You should be able to just codesign manually later in the dep tree, no?

https://developer.apple.com/library/content/documentation/Security/Conceptual/CodeSigningGuide/Procedures/Procedures.html#//apple_ref/doc/uid/TP40005929-CH4-SW4

[2017-04-21 23:25] ryu2 commented on #1304
We should probably rethink the way we handle entitlements.

Right now, we specify them via the `CODE_SIGN_ENTITLEMENTS` key in `info_plist_substitutions` for a `apple_bundle` which is counterintuitive.  This was chosen at the time because it was similar to how Xcode handled things, but we should probably add entitlements as an actual arg to `apple_bundle` instead.

Ideally we'd pass the entitlemen

[2017-04-22 01:40] ProfessaA commented on #1304
Okay, so we could add `entitlements` to `apple_binary`, and:
1. if targeting the simulator, the apple binary description would use `entitlements` to add linker flags to the `CxxBinaryDescription.Arg` used to construct the binary rule
1. if targeting a device, the downstream `apple_bundle` could use `getConstructorArg().entitlements` on the binary TargetNode to know which entitlements to use for co

[2017-04-22 02:00] ProfessaA commented on #1304
@LegNeato code-signing does happen right now for simulator builds but it uses the ad-hoc signing identity: `codesign -s - /path/to/app`, which is what xcode does too.

The documentation on "ad-hoc signing" is pretty sparse (https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/codesign.1.html), but it seems to produce a binary without an embedded code signature th

[2017-04-23 18:08] zayhero opened #1307 "HeaderSymlinkWithHeaderMap missing in cache break Swift build"
Right now if we use `cxx_library` or `apple_library` to build `cxx` files, it generate header map like
`MyProject#header-mode-symlink-tree-with-header-map,headers.hmap`.
However, this file is not cached correctly, if `MyProject` is not being updated in incremental build, this file will not exist.
This works fine when we only have objC code. But if you have a `swift` file which need to use the `cxx

[2017-04-24 10:17] aiked commented on #1268
@aledalgrande sorry, I just got back from PTO. I will get on it.

[2017-04-24 10:32] aiked commented on #1268
Done, check facebook/homebrew-fb#17.

[2017-04-24 10:32] #1268 closed

[2017-04-24 15:29] njlr opened #1309 "Cannot use cells with gtest_dep"
I have put my Google Test clone in a cell, and set my `.buckconfig` accordingly:

    [repositories]
      gtest = ./google/gtest/

    [cxx]
      gtest_dep = gtest//:gtest

However, when I run `buck test`, I get the error:

    java.lang.IllegalStateException: Raw data claims to come from [google/gtest/], but we tried rooting it at [].

Is this a bug?

[2017-04-24 16:17] Coneko commented on #1309
cc @mzlee

[2017-04-24 16:19] njlr commented on #1309
Interestingly if I try to run `buck test` again it succeeds. Perhaps a cache is affecting this?

[2017-04-24 16:19] Coneko commented on #1307
cc @milend

[2017-04-24 16:20] Coneko commented on #1307
cc @robbertvanginkel

[2017-04-25 01:31] ryu2 commented on #1304
We could just specify `entitlements` in `apple_bundle` as well to make things consistent.

[2017-04-25 13:40] semassel-medlamine commented on #511
Still have the problem

[2017-04-26 18:43] zayhero commented on #1307
Any update on this?

[2017-04-26 21:01] styurin commented on #1300
First of all, `prebuilt_jar` works as you described, the library xml contains a reference to a jar in repo, not in `buck-out`.

`prebuilt_aar` needs to be built because IntelliJ doesn't support aar files (or I am not aware of the way to set it up in libraries / modules).

[2017-04-26 21:01] #1300 closed

[2017-04-26 21:09] kageiit commented on #1300
can we atleast unzip the aar to point at the classes.jar directly?
Im not aware of anything else being needed here to get symbol resolution
except R files, but its better than nothing

[2017-04-26 21:16] styurin commented on #1300
You can do that without introducing new functionality in buck project, just find prebuilt_aar targets in dependencies of the target and build them.

[2017-04-26 21:19] kageiit commented on #1300
That sounds like a good idea. Will pursue that further. Thanks!

[2017-04-26 21:26] kageiit commented on #1300
Was hoping to use `initial_targets` as documented in https://buckbuild.com/concept/buckconfig.html#project.initial_targets

But found out its only for apple projects generation - https://github.com/facebook/buck/blob/93e2aafe9c8031f2b086a589e53bbc068dcf0bf1/src/com/facebook/buck/apple/project_generator/ProjectGenerator.java#L235

:(

[2017-04-26 21:48] bolinfest commented on #1277
@raviagarwal7 So are you saying that if you use a version of Buck from before 67d8a029f87e4a6324f2286fad53073e104a01b2, everything worked as intended? That is, adding a print statement caused the change to be detected?

[2017-04-27 15:59] ccascone commented on #1258
@Coneko any chance you can publish somewhere your build defs for building with thrift?

[2017-04-28 09:14] Odaym commented on #1176
Same error here after building successfully and installing successfully.

Nexus 5 phone with Android 6.0.1

[2017-04-28 11:54] Coneko commented on #1258
cc @andrewjcg, @yiding

[2017-04-28 17:32] yiding commented on #1258
The one we use internally is a bit complex, I'll let @andrewjcg talk about that one if he wants to.

The general gist of it (but not an actual gist..):

* Make a genrule that includes all the thrift files as srcs...
* The genrule will invoke fbthrift compiler with each file by itself...
* You create one genrule per OUTPUT file that was created (since the thrift compiler creates a directory of file

[2017-04-28 21:35] btc commented on #423
What's the status of Swift support? Is it implemented, but undocumented? Where can I find documentation (or the equivalent)?

[2017-04-28 21:56] vhbit commented on #423
Uber engineers got it working on their 500KLoc codebase so it should be
 good. But it wasn't upstreamed yet. Hopefully there will be more info
about it in #1302 soon.
--
Sent from mobile

[2017-04-28 22:18] btc commented on #423
Ah, so the Uber engineers added Swift support themselves?

[2017-04-30 22:26] Dimagog opened #1314 "Cannot build Go on Windows"
Trying use `go_binary` rule on Windows fails. Repro steps:
[code]
Results in exception:
[code]

[2017-05-02 14:38] aiked commented on #1314
Hello @Dimagog, Go is not fully supported at Buck but maybe @mikekap can help with this one.

[2017-05-02 15:01] njlr opened #1316 "Resources option for cxx_binary?"
Sometimes a C/C++ application expects resources relative to the executable.

For example:

[code]

Is there are way to encode this information into a `cxx_binary`?

I think something like this would be reasonable:

[code]

[2017-05-02 16:28] aiked commented on #1316
cc @andrewjcg

[2017-05-02 16:54] kageiit commented on #1272
We do not get this with `NO_BUCKD=1`. We got around this issue by killing all active buck daemons whenever buck version has been changed

[2017-05-02 16:54] #1272 closed

[2017-05-02 18:58] andrewjcg commented on #1316
We don't have a way to support this now, as Buck just generates native executable formats from a `cxx_binary` rule (e.g. ELF, MachO).  I think we'd either need to use a higher-level format (e.g. like `python_binary` rules) or do some trickery with embedding resources in the native executable format (e.g. in a manually added ELF section) and have some library code to access it.  Either way, it's li

[2017-05-02 19:48] njlr commented on #1316
I don't mean the resources have to be embedded, just put alongside the executable.

[2017-05-02 23:08] felipecsl commented on #1066
We're seeing the exception above too. Are there any workarounds for it?

[2017-05-03 00:01] ccascone commented on #1258
Thanks @yiding, that worked!

Instead of creating one genrule per OUTPUT file (my thrift file produces far too many java files), I did the following:

[code]

[2017-05-03 03:21] ryu2 commented on #1316
The best strategy would be to use a genrule to package your binary and resources as needed.

[2017-05-03 09:32] aiked commented on #1316
This looks resolved. @njlr feel free to re-open if the genrule solution isn't good enough.

[2017-05-03 09:32] #1316 closed

[2017-05-03 09:51] njlr commented on #1316
@ryu2 Yes, this is the solution I arrived at. What is slightly annoying is that you cannot launch a `genrule` via Buck (or can you?)

[code]

[2017-05-03 12:32] Coneko commented on #1316
You can also use `sh_binary` which is undocumented, it has support for resources.

[2017-05-03 18:23] sdwilsh commented on #1276
Buck doesn't currently support native code compilation on Windows.

[2017-05-03 18:34] sdwilsh commented on #994
I'm a bit rusty with Buck code, but IIRC, there is a `Tool` class that can take a `SourcePath` you define in the `.buckconfig`.  You just need to add the dependency to the build rule when you construct it in the Description.

[2017-05-03 18:37] sdwilsh commented on #1275
We should clean up the docs to specify `python2`.  @JoelMarcey can probably help with that.

[2017-05-04 11:00] Coneko commented on #1276
Should be fixed in 8617a746f2cce396bf3e11f5d9a41869fdd3cb30.

[2017-05-04 11:00] #1276 closed

[2017-05-04 18:41] njlr opened #1323 "Latest release fails to build Java project"
I recently upgraded to the latest version (`buck-2017.05.04.01`) on macOS.

I get the following error on a project that previously built:

Any ideas?

[2017-05-04 22:10] styurin opened #1324 "Remove autodetection of IDE in `buck project`"
`buck project` tries to detect an IDE it's not specified in arguments or in the config.

We need to remove this option in order to avoid any possible confusions when a repo contains both targets for XCode and IntelliJ. Developers will need either specify IDE using command line arguments or in the config.

[2017-05-04 22:12] raviagarwal7 opened #1325 "Changes to a layout resource is not getting reflected in the built APK"
__Initial Layout:__
[code]

__Updated Layout:__
[code]

__On Launching the app it crashes with his error:__
[code]

__Checked that the UberRDotTxt is generated correctly:__
[code]

__Each libraries R.java are also generated correctly using the UberRDotTxt:__
[code]
_________________________________

**Decompiling the built APK:**

__Searching for `app_toolbar_new` doesn't give any references in de

[2017-05-04 22:18] raviagarwal7 commented on #1277
@bolinfest I remember that building from before 67d8a02 doesn't work as intended as well, but setting `client.skip-action-graph-cache=true` works.
I will try again and let you know.

[2017-05-04 22:19] raviagarwal7 commented on #1325
cc @dreiss @cjhopman

[2017-05-04 23:55] cjhopman commented on #1277
It could be related to rulekey caching if disabling actiongraph caching doesn't have the problem.

[2017-05-05 09:09] aiked commented on #1323
Looking into this.

[2017-05-05 09:55] zoom2manoj commented on #1275
I'm also getting this issue as below commends :

`Traceback (most recent call last):
  File "D:\react_native\test_cases\buck\bin\..\programs\buck.py", line 8, in <mo
dule>
    from buck_tool import BuckToolException, RestartBuck, install_signal_handler
s
  File "D:\react_native\test_cases\buck\programs\buck_tool.py", line 15, in <mod
ule>
    from pynailgun import NailgunConnection, NailgunExcepti

[2017-05-05 10:58] njlr commented on #1323
As a work-around you can install an old version. For example:

[code]

[2017-05-05 13:34] raviagarwal7 commented on #1325
1st Run
[code]

2nd Run (after making the above layout changes)
[code]

From the above it seems like R.java is not considered during calculation of the hashes of the generated dex files. `classes10.dex, classes11.dex & classes12.dex` all have the same calculated hash as they only contain R.java files.

@cjhopman -- do you know if this is intended? if so how should the R.java be invalidated on a ch

[2017-05-05 13:49] kageiit commented on #1324
Can IjProject not just generate the right project files based on the target type?

[2017-05-05 13:50] kageiit commented on #1323
This usually happens when you have an old daemon hanging around from the previous version. We found that `buck kill` or `killall java` (more extreme) to get rid of any old buck daemon processes usually resolves this

[2017-05-05 13:52] kageiit commented on #1323
@aiked it might be wise to invest time into killing old buck daemons after a buck update from brew or `.buckversion`. Currently we do this in our `buckw` for okbuck, and have not seen this issue ever since we started doing that

[2017-05-05 14:07] njlr commented on #1323
I ran the following to get the latest version working:

[code]

So it may have been the reinstall or `buck kill` (or both!) that did the trick.

[2017-05-05 14:20] aiked commented on #1323
@njlr You installed v2017.03.29.01, which is the last working one. I can reproduce the issue in this case, it looks like there is an issue during the bottling of the binary.

@kageiit Makes sense, we should do that. For this specific case, I don't think that the problem is the old buck running.

[2017-05-05 15:28] styurin commented on #1324
I'm not sure I understand the question, but this issue doesn't affect how `buck project` works for IntelliJ. It only makes the choice of IDE explicit and removes the autodetection.

[2017-05-05 17:39] runningcode opened #1326 "ResourceUnion picks placeholder ids instead of real ids."
I have module A with this declaration
```<item name="string_name" type="string"/>```
and module B with this declaration:
```<string name="string_name">foo</string>```

Module C depends on Module A and B.
I have resourceUnion on.

How does resource union seems to always pick the placeholder id instead of the real id.

Here is a sample demonstrating the issue: https://github.com/uber/okbuck/compare/

[2017-05-05 21:26] #1275 closed

[2017-05-05 21:34] dreiss commented on #1325
Does this app use pre-dexing or no?  If not, I wonder if this is the same issue you were looking at with mbolin.  Does disabling the action graph cache fix it?

[2017-05-05 21:41] dreiss commented on #1277
If that were the problem, `buck verify-caches` should have caught it.

[2017-05-05 21:41] raviagarwal7 commented on #1325
the app doesn't use pre-dexing as the main module is pretty big.

this is probably a subset of the issue (https://github.com/facebook/buck/issues/1277) I was looking into with mbolin. This is not related to the action graph cache as the issue happens with or without buckd.

In current state we have `client.skip-action-graph-cache=true` which makes the java code changes detectable but the layout ch

[2017-05-05 21:52] dreiss commented on #1183
I can't reproduce this in our sample repo (https://github.com/fbsamples/bucksamples).  What version of build-tools are you using?  Do you have any hidden characters in your .xml file?

[code]

[2017-05-05 22:36] dreiss commented on #1280
Discussed this with @kageiit and @runningcode .  Here's a summary:

- Doing this is generally a bad idea because it's bad for build perf and runtime perf.
- Gradle does this by default, so we should probably support it.
- The way to do it is add an option to android_binary to add itself to com.facebook.buck.android.AndroidPackageableCollection#pathsToThirdPartyJars (probably after renaming it).

[2017-05-05 23:18] raviagarwal7 commented on #1325
seems like `[classNamesToHashes](https://github.com/facebook/buck/blob/master/src/com/facebook/buck/android/HashInputJarsToDexStep.java#L81)`  doesn't contain any `R.class` entries and hence not being considered for hash calculation of the jar.

[2017-05-05 23:54] cwoodwar6 commented on #1325
Seems related to #1252

[2017-05-06 00:20] dreiss commented on #1325
Probably the same issue.  I discussed a possible solution with @raviagarwal7 on Slack.

[2017-05-06 00:26] dreiss commented on #1326
Thanks for the repro.

I looked into this a bit further.  It looks like the resource merging code in gradle takes care of this before the resources are ever shown to aapt.  I tested out the resource merger that we're using in Buck for android_aar, but it didn't do the same, so we need to find the code in gradle that has this logic.

If you can find it, that'd be awesome.  Otherwise, if you could s

[2017-05-07 12:55] evanj opened #1330 "Python: bundled pex does not correctly resolve binary wheels"
I'm trying to use Buck with a set of `prebuild_python_library` rules that include binary dependencies. For example, `grpcio-1.3.0-cp27-cp27m-macosx_10_10_intel.whl`. Unfortunately, the version of pex that is currently bundled with buck (1.1.0 it seems) does not resolve this dependency correctly. The `.pex` that is built includes the files, but does not find them. I suspect this is because my curre

[2017-05-07 12:58] evanj commented on #1206
I had some success modifying your approach to use the same resolution logic that pip does. This modified rule only requires you list the `.whl` files, and it should automatically pick up the same one that pip would. Unfortunately I'm blocked by #1330, so the resulting pex doesn't actually work.

However, if I can figure out that one, this suggests it would likely be possible to create a `BUCK` gen

[2017-05-07 15:30] mikekap commented on #1330
I believe if you want to update pex, you have to do a tiny patch that stops it from bundling setuptools: https://github.com/facebook/buck/commit/ca391dfdb3bf5914f3f5618eb054211507dc3466 . See https://github.com/facebook/buck/blob/master/third-party/py/pex/README.facebook for the full list of local patches - some of those may have been upstreamed as well.

[2017-05-08 07:33] zoom2manoj commented on #1275
Thanks for your support @JoelMarcey

[2017-05-08 10:36] vanniktech commented on #1183
@dreiss I don't have any hidden characters in my XML and I'm using `25.0.2`. You can check out the [repro case](https://github.com/vanniktech/okbuck-playground/pull/8).

[2017-05-08 10:54] zoom2manoj opened #1332 "No system compiler found, Did you install the JRE instead of the JDK?"
I'm trying to build sample demo using as below command on Window system,

` From the root `cross-platform-scale-2015-demo/` directory
 demo_app_android is an alias in .buckconfig for //android:demo-app. Either works.
buck build demo_app_android`

 but I'm getting issue as below :

`Not using buckd because watchman isn't installed.
[-] PARSING BUCK FILES...FINISHED 0.0s [100%]
BUILD FAILED: //andro

[2017-05-08 10:55] zoom2manoj commented on #1332
I'm also not able to install watchman setup with window system.

[2017-05-08 11:43] evanj commented on #1330
YES! That did the trick, and that confirms it fixes this particular bug: I can now include native `.whl` dependencies on my Mac and the resulting build works! Thank you!

I'm willing to submit a pull request with this, however I suspect that this is the sort of change that someone who works on Python support for Buck will probably need to make, since I suspect it could break all sorts of subtle th

[2017-05-08 12:02] evanj opened #1333 "Adding prebuilt_python_library to deps does not rebuild pex"
When adding or removing `prebuilt_python_library` to the transitive `deps` of a `python_binary`, the pex does not get rebuilt. This causes me to have to `rm -rf buck-out` to get the correct output.

## Steps to reproduce:

1. Check out the example bug repository: `git clone https://github.com/evanj/buckbug`
2. Build the binary that is missing a dependency: `buck run //somebin`:

[code]

3. Edit th

[2017-05-08 15:49] sdwilsh commented on #1330
I think the last time we did this we just relied on tests and hoped for
the best.  Not the best, but we do have decent test coverage.

[2017-05-08 17:02] aiked commented on #1323
Update: the issue has been resolved internally but for unrelated reasons open-source buck is a bit behind, I expect this to be resolved tomorrow and a new working version to be out soon.

[2017-05-08 17:09] seichert opened #1334 "homebrew-fb/buck.rb references deleted version 2017.05.04.01"
In the facebook/homebrew-fb repo, the buck.rb file references `2017.05.04.01` .  The tag for this version was deleted.  The most recent tagged version is `2017.03.29.01`

[2017-05-08 17:27] dreiss commented on #1183
You have hidden characters at the end of the line.  See below.

Gradle must be stripping these out when it merges resources, but we pass your resources directly to aapt, which complains.

[code]

[2017-05-08 18:19] #1325 closed

[2017-05-08 20:06] raviagarwal7 commented on #1252
this seems to be a duplicate of https://github.com/facebook/buck/issues/1325.

@cwoodwar6 a fix has been landed on master, please verify and close this issue if it works.

[2017-05-08 20:11] aiked commented on #1334
I'm sorry for that, that is my fault. The latest release was broken and I had to remove it. I will update with a new version tomorrow. Until then you can follow instructions at https://github.com/facebook/buck/issues/1323

Again, sorry for that :(

[2017-05-08 20:32] cwoodwar6 commented on #1252
Thankfully, we no longer have to run with pre-dex disabled.

To verify, I disabled pre-dex, and was able to modify a resource id without a runtime crash. Looks resolved to me.

[2017-05-08 20:32] #1252 closed

[2017-05-08 22:00] dreiss commented on #1326
For anyone following along, we're discussing this directly.  By switching the string with the item, we've found a case where Buck produces the proper string but gradle selects the empty one.  Nelson is investigating further.

[2017-05-09 03:12] ProfessaA commented on #1294
@Coneko I've addressed this issue in https://github.com/facebook/buck/pull/1315.  can you take a look and make sure the approach is okay? thanks!

[2017-05-09 08:44] vanniktech commented on #1183
Interesting. Thanks for this one. Can buck improve in this scenario and give a more detailed error message or is this up to aapt entirely? If not, feel free to close this issue as there's a proper workaround / fix.

[2017-05-09 12:10] aiked commented on #1323
New release: https://github.com/facebook/buck/releases/tag/v2017.05.09.01
I checked that is working but tell me if something is weird.

[2017-05-09 12:10] #1323 closed

[2017-05-09 12:10] aiked commented on #1334
The new release is https://github.com/facebook/buck/releases/tag/v2017.05.09.01 and it should address any issues.

[2017-05-09 12:10] #1334 closed

[2017-05-09 14:18] evanj commented on #1330
In that case I will make an attempt the next time I find some time to play with this again, which might take a couple weeks. Thanks!

[2017-05-09 14:25] Coneko commented on #1333
cc @andrewjcg

[2017-05-09 17:23] noahsark769 commented on #423
@vhbit do you know if the uber fork is available anywhere? Or is that still yet to be open sourced?

[2017-05-09 19:37] kageiit opened #1335 "Trace files created by buck are too large to view"
According to https://github.com/catapult-project/catapult/issues/298#issuecomment-223157738 the v8 engine has a hard cap of 250mb for a chrome trace file. This means large builds  cannot be viewed at all in the chrome trace viewer.

Can the trace files be split up somehow if they are larger than the limit in buck? Or is there another viewers buck recommends to use?

[2017-05-09 20:47] seanabraham opened #1336 "Buck breaks symlinks when restoring from the cache"
For output directories that have symlinks among them buck breaks these symlinks if the directory is restored from a cache. As an example example, if attempting to install `node_modules` from a `package.json` file via a genrule, `npm` creates symlinks if any of the modules created has a binary specified in it's `package.json` https://docs.npmjs.com/files/package.json#bin (`yarn` does this as well).

[2017-05-09 23:23] ryu2 commented on #1294
Sorry for the delay; I'll take a look at this tonight.  There might be some hacky stuff we have that may depend on the current behavior, but I'll let you know.

[2017-05-10 03:25] ProfessaA commented on #1294
Great, thanks!

[2017-05-10 08:54] Usipov commented on #423
@alanzeino, can you comment on [this](https://github.com/facebook/buck/issues/423#issuecomment-298112325)? Looks like you are the most competent in that 😀

[2017-05-10 09:00] nguyentruongtho commented on #423
@btc @noahsark769 @Usipov apology for the late reply. We are having a few refactoring to be able to merge things back to master.
Beginning of this year we have completed swift support in buck and was in a process of merging back to master. Tricky part is that at the time we had it, swift didn't have support for creating static library afaik. Beside, we couldn't afford having too many frameworks fo

[2017-05-10 11:56] cooperkong commented on #1176
same here, sample won't run

[2017-05-10 13:09] Odaym commented on #1176
meh, too complicated, gave up

[2017-05-11 04:58] keith commented on #423
FWIW, you could always create Swift static libraries manually, or with SwiftPM, the only problem here is that Xcode has never (and still doesn't) support doing this.

[2017-05-11 06:47] nikhilsh opened #1339 "Unable to launch iOS application in swift with carthage frameworks"
Hi there,

I've been quite impressed by how fast buck builds iOS (and Android) applications, and decided to take the plunge. I've been working on deintegrating cocoapods and moving everything to use Carthage/static frameworks. I'm facing a launch error though when I try to run `buck install` where the application builds and starts to run but then immediately closes without any sort of error.

This

[2017-05-11 17:34] ryu2 commented on #1339
Is there a crash report at `~/Library/Logs/DiagnosticReports`?

[2017-05-11 19:55] jkeljo commented on #1335
What's your preferred way of viewing traces? Do you use about:tracing or the Buck builtin webserver?

It looks like there was a [change recently](https://github.com/catapult-project/catapult/commit/9e43159fc62c2ba87c5dd5202e38aeb5e207bb68) to enable streaming of gzipped traces, which could help with this.

[2017-05-12 01:47] kageiit commented on #1335
we use about tracing because some of the traces we collect are from our ci servers. How can we view those traces in the buck builtin web server?

[2017-05-12 02:04] AllenAWKing opened #1340 "[Task] Buck does not support building apk without a keystore"
Sometimes I want to build an apk without a keystore (I can upload to a signing server, so my keystore and password will be untouchable for most of devs), could you guys please kind to have a look if there is any chance to make this task on your list? Thanks very much for advance~

[2017-05-12 03:04] nikhilsh commented on #1339
Nope, the console's log from launching the app to the crash can be found here: https://gist.github.com/nikhilsh/8d9f7dc7196970ea541f580052ad4f83

[2017-05-12 06:29] TosinAF commented on #423
@nguyentruongtho How does one find this Slack group? Is it open to the public?

[2017-05-12 10:59] robbertvanginkel commented on #1304
I ran into this problem as well, and I think there's another important caveat here: the `.xcent` file that the linker embeds in the binary isn't the same as the entitlements file you specify you want to use for the app.

There's a step named `ProcessProductPackaging` in xcode, that takes your specified entitlements and merges/augments them with some other settings. From the log:
[code]
When I then

[2017-05-12 20:22] ryu2 commented on #1304
We do the same entitlements merging as `builtin-productPackagingUtility` does in Buck at

https://github.com/facebook/buck/blob/master/src/com/facebook/buck/apple/ProvisioningProfileCopyStep.java#L204

[2017-05-13 07:12] ryu2 commented on #423
It's semi-open; you can sign up automatically if you're with certain companies: https://buckbuild.slack.com/

Otherwise drop me a line at markwang at fb dot com and I can send you an invite.

[2017-05-13 08:38] amanrajdce opened #1344 "Ant Fails to Compile Source files"
I am trying to build buck using ant:
``$ java -version``
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
``$ ant -version``
Apache Ant(TM) version 1.9.6 compiled on July 8 2015
``$ python --version``
Python 2.7.12

While compiling source files it fails. I can't figure out what wrong I am doing

[code]

[2017-05-15 06:24] robbertvanginkel commented on #1339
I think the issue is that the apple_bundle doesn't copy in the shared `prebuilt_apple_framework`'s into the bundle. Either that or there's a bug that doesn't set the correct rpaths for the binary link command.

There should be a simulator log, that will contain the reason why the abort is fired.

[2017-05-15 06:37] nikhilsh commented on #1339
@robbertvanginkel In the last few lines of my original comment, I did paste in the simulator log, if that is what you're referring to. I wasn't sure if I should use `prebuilt_apple_framework` for `Carthage` frameworks, but that was what other developers seemed to be doing.

[2017-05-15 07:30] robbertvanginkel commented on #1339
Sorry, I meant crashlog not regular log. They could also be under `~/Library/Logs/DiagnosticReports/`

[2017-05-15 18:52] felipecsl commented on #1066
This seems to be fixed with `jar_spool_mode = direct_to_jar` in the buckconfig file

[2017-05-16 14:31] aiked commented on #1335
I think we fixed that internally by tweaking the source code of tracing. @k21 was the person who knows the most around this.

[2017-05-17 02:57] nikhilsh commented on #1339
@robbertvanginkel Yep you're right.
[code]

So it seems like the `Alamofire` library was not copied over properly. Do you have any idea how should I go about doing it? I referenced various issues filed here to get a clue as to how to reference frameworks built by carthage but seems like I went down the wrong lane

[2017-05-17 19:01] k21 commented on #1335
The change I made internally was to remove an assert that limited the duration of the trace to ~500 seconds. AFAIK the assert has been either removed or the limit has been increased in the latest released version of the trace viewer so the tweaking should no longer be necessary. I didn't look into working around v8's max string length limit.

[2017-05-17 20:53] jkeljo commented on #1335
Enable the server and the trace link is printed after the build, or you can navigate to its root page and go from there. However, the buck builtin web server uses a really old version of the viewer, so you're better off with chrome://tracing anyway.

I just tried the new streaming support on a big trace and it seems like it may not actually work yet.

[2017-05-17 22:31] ryu2 commented on #1339
cc: @yiding

[2017-05-17 22:41] yiding commented on #1339
Try adding your `prebuilt_apple_framework` targets directly into the `apple_bundle`'s deps field. I realize this is a bit annoying to do, especially if the app gets bigger, as it seems like this information can be derived automatically...

Currently `prebuilt_apple_frameworks` are not collected from transitive dependencies as the resulting layout is ambiguous and we don't have a good way of specif

[2017-05-18 01:31] runningcode commented on #1037
I tried out this branch and I got an error when passing mixed sources to it. `error: source entry is not a Kotlin file`

[2017-05-18 02:11] dsyang commented on #1037
@runningcode Not sure what you mean by this branch. You can't build a target with mixed sources in the master branch (or any branch right now).  This issue is tracking that feature.  @brettwooldridge  has the most context right now. IIRC #1283 is the first step towards getting this to work.

[2017-05-18 02:16] runningcode commented on #1037
Ah, I meant I tried passing java sources and kotlin sources to a module on the `brettwooldridge:kotlin-compiler2` branch.

[2017-05-18 02:17] dsyang commented on #1037
I'm pretty sure that branch doesn't enable mixed sources yet either.

[2017-05-18 17:57] duanbouber opened #1348 "Does 'buck install' support version comparison?"
For non-exo package, when running 'buck install', sometimes the build step doesn't necessarily do anything because no code change since last build/installation which makes sense. But for this case, the cmd still installs the apk to emulator/device, even the apk installed on emulator/device has been up to date.

Is there a parameter to instruct buck to compare the 'apk installed' the 'apk to instal

[2017-05-18 18:49] runningcode opened #1349 "Kotlin support in robolectric_test rule."
There doesn't seem to be a way to compile kotlin files for the robolectric_test rule.

[2017-05-18 21:42] dreiss commented on #1183
This message is straight from aapt, unfortunately.

[2017-05-18 21:42] #1183 closed

[2017-05-19 00:09] michaeleiselsc opened #1350 "Option for outputting build commands from buck build"
I want to create a compilation database (https://clang.llvm.org/docs/JSONCompilationDatabase.html) so that I can use it with linters like OCLint and clang static analyzer. However, I don't see any way to get the actual build commands that buck is using, except to parse them out of other input when the verbose flag is on. It would be great to have an option to output the compilation database.

[2017-05-19 03:20] jiangjef commented on #1172
@raviagarwal7 Hi I am running into similar problems. How did you find out which tests caused the crash?

[2017-05-19 11:59] Coneko commented on #1350
Try `buck build target#compilation-database`.

[2017-05-19 19:00] michaeleiselsc commented on #1350
Awesome! Now is there any way to get that output without doing a full build? I just want to lint a few of the files in my project each time (those that changed in whatever PR)

[2017-05-21 05:58] #1324 closed

[2017-05-22 11:12] marcinkosiba commented on #1335
A while back I wrote scripts/slice_trace.py. It's not perfect as events that span slices are not duplicated, but at least you can view the trace file.

[2017-05-22 11:19] marcinkosiba commented on #1301
a while being a long time ago. I don't recall intentionally changing test suite behavior, but given how magical test running is's possible this changed unintentionally.

[2017-05-22 11:24] marcinkosiba commented on #1281
no, buck doesn't have a feature like that.

Can you ask the authors of the .aar modules to use unique names for the attributes? otherwise you can write a genrule that unzips the .aar, removes the attributes that are conflicting and re-zips it.
[code]

[2017-05-22 11:24] #1281 closed

[2017-05-22 15:54] msridhar commented on #1335
Ah nice, [`slice_trace.py`](https://github.com/facebook/buck/blob/d609be052ddd49a746e185fadf6df08cc19af6d2/scripts/slice_trace.py) looks like a good option; thanks!

[2017-05-24 20:38] phoenixuprising opened #1353 "Exopackage fails to install on Pixel running Android O"
I attempted to install an exopackage application on my Pixel XL on Android O and it failed with the following stacktrace. I also tested a Pixel C running Android O with the same build number and it installed and ran successfully.

Device: Pixel XL
AOS: Android O
Build: OPP2.170420.019

[code]

[2017-05-25 01:14] clonetwin26 commented on #1071
We are seeing this as well on intellij 1.7.2 using the buck IDEA plugin 2.7.7

[2017-05-25 04:21] #1071 closed

[2017-05-25 05:35] ChaitanyaPramod opened #1354 "Publish release notes for each release"
Can we publish a brief set of release notes for each tagged release? These are extremely useful to keep track of changes to buck without following the commits (which are too many and too verbose).

Something like https://github.com/facebook/buck/releases/tag/v2016.04.18.01 would be great.

Another user requesting the same on mailing-list: https://groups.google.com/forum/#!topic/buck-build/XpD3ivUV

[2017-05-25 10:12] nordlow opened #1355 "Bash completion of subcommand query"
Are there any plans to extend the bash-completion with support for completion of the Buck subcommand `query`?

[2017-05-26 08:50] nordlow opened #1359 "Create Installation Package of Buck"
Is there a way to create an installation package for buck from its sources?

I can't find an `ant` subcommand that does that.

[2017-05-26 19:42] craigstjean opened #1360 "buckconfig.soy incorrect cxx.gtest_dep example"
In the example, srcs should not use subdir_glob, for example it should be:
[code]

**Note:** I tried to make the change myself and submit a pull request, but there are other errors in the soy file (e.g. buckconfig.cache_http_cache_names is undefined but referenced) so instead I am creating an issue.

[2017-05-26 22:00] Coneko commented on #1350
What do you mean doing a full build? That command will only build the necessary things to make the compilation database meaningful, like generated headers and sources, header maps, symlink trees and sandboxes.

You won't be able to create the right clang translation units without them.

We used to have a way to create almost equivalent commands skipping many of the steps, but the "almost" part of

[2017-05-26 22:04] Coneko commented on #1353
cc @dreiss @cjhopman

[2017-05-26 22:07] Coneko commented on #1359
You can create a single file executable of it by first building it with ant and then running `buck build buck --show-output`.

The resulting file is a self extracting python executable package (https://github.com/pantsbuild/pex).

[2017-05-27 07:56] nordlow commented on #1359
Doesn't work for me:

[code]

[2017-05-30 20:36] sdwilsh commented on #1359
Did you build it with `ant` first?  Although, that error message seems to imply that `programs/buck.py` in the repository doesn't exist, and it should if you have a clean `git` working copy.

[2017-06-01 06:07] jeeloo opened #1361 "buckd on Windows"
I have been trying to build a C/C++ project on windows and one thing that I have noticed is that there is a new buckd process for each time I invoke "buck build". I just have these two files in a folder

BUCK:
[code]
hello-world.c:
[code]
And no matter if it is up to date or not a new buckd process i spawned every time, I have watchman in the path and that is being used

[code]

[2017-06-01 10:01] anotherchrissmith opened #1362 "Add some extra information to aid a test runner in caching the results"
Test result caching was removed in
https://github.com/facebook/buck/commit/0fc321f6bf14f66c78551e10d75bd446310e9f44

@Coneko : "More advanced test running capabilities should not be in Buck core, but should be implemented in external test runners. If you wish to write such a test runner we can discuss how to pass caching information to it."

Please could you share a few pointers for how to do this

[2017-06-01 15:37] ilya-klyuchnikov commented on #1361
I failed to reproduce it. @jeeloo could you run the following command in Powershell ` Get-WmiObject Win32_Process -filter "CommandLine like 'buck%'"` and put the output here?

[2017-06-01 23:46] Madhav-S opened #1363 "RECORDED_PATHS not found, failure during build"
On occassion, running a build of our APK will give the following error:

[code]

Running buck clean and rebuilding will cause it to go away, for a little while. However, after a few build runs it often comes back up again, requiring another clean.

[2017-06-02 00:06] kageiit commented on #1363
This is happening on buck version 744d4bb1ed004b48a9fc9a200090997bda3ca7bb

@bertmaher We have sqlite as the build metadata store, is recorded_paths something that lives outside it

cc @dreiss

[2017-06-02 02:52] bertmaher commented on #1363
RECORDED_PATHS is still stored in the filesystem, not the DB.  I fixed a bug a few weeks ago (618ad57c624cec4949341f1e06f49f81983b64b6) where we'd sometimes remove metadata from the filesystem and not the DB, but that particular case shouldn't still be happening.

Does this happen to occur after a build is interrupted (Ctrl-C or something like that)?  It's possible that if a build is killed at jus

[2017-06-02 02:59] bertmaher commented on #1363
Btw- switching sqlite off should make this go away, if it's a major blocker now.  #sadpanda.

[2017-06-02 04:48] kageiit commented on #1363
Thanks for the info @bertmaher . We will turn sqlite off till this is fixed

[2017-06-02 04:49] bertmaher commented on #1363
Cool.  If it *doesn't* go away with sqlite off, let me know that too.  It's entirely possible this is an unrelated bug.

[2017-06-02 06:23] jeeloo commented on #1361
@ilya-klyuchnikov here you go [buckd.txt](https://github.com/facebook/buck/files/1046834/buckd.txt)

[2017-06-02 07:15] nikhilsh commented on #1339
@yiding thanks for the reply, and sorry for getting back so late. I *think* I tried out your proposed solution like so:

[code]
(moved the `prebuilt_apple_frameworks` from `apple_binary` to `apple_bundle` deps field)

I'm getting this error though:
<img width="805" alt="screen shot 2017-06-02 at 15 14 30" src="https://cloud.githubusercontent.com/assets/4312243/26714932/3bf4ff26-47a6-11e7-81ae-732c

[2017-06-02 18:43] yiding commented on #1339
The apple_binary might need it in its dependency list as well for linking.

As for the error, what version of buck are you using? I fixed this in:

https://github.com/facebook/buck/commit/7cd86eeafd9baa6c8cc7387f490bd99f7bd43af2
https://github.com/facebook/buck/commit/40933eba3a70cf844714442d6f755e0667a497d4

[2017-06-02 19:51] Madhav-S commented on #1363
No, the build wasn't interrupted before. I've gone as far as to to a complete `git clean -dfx`, recompile, and the issue can still occur.

[2017-06-03 05:27] ZacSweers opened #1366 "Annotation Processors written in Kotlin are not visible to BUCK"
Here - https://github.com/facebook/buck/blob/master/src/com/facebook/buck/jvm/java/AnnotationProcessorFactory.java#L67-L77

I can't get much interesting stuff from the trace, but I get this
[code]

Other services load fine when I write them in kotlin though, this seems something specific to how BUCK does annotation processors and what classloader it's using. I'll try to get a repro case up.

CC @k

[2017-06-05 06:10] Coneko commented on #1366
cc @dsyang @brettwooldridge

[2017-06-05 12:11] gongyujun opened #1367 "How to install the binary files compiled by buck into my iPhone?"
Everything is okay when I use the simulator as `default_platform=iphonesimulator-x86_64` in the `.buckconfig` file, and also I use the command `buck install demo_app_ios` to install the app into the simulator successfully.

However, I got the failure when I install it into my device. First, I use `buck build demo_app_ios#iphoneos-arm64` to build the project whether I change the `buckconfig` file's

[2017-06-05 13:41] Coneko commented on #723
`project_config` doesn't exist anymore.

[2017-06-05 13:41] #723 closed

[2017-06-05 13:52] Coneko commented on #664
I assume because the pull requests have been merged this has been resolved, let me know if there's anything left.

[2017-06-05 13:52] #664 closed

[2017-06-05 14:09] Coneko commented on #684
Assuming that fixed it.

[2017-06-05 14:09] #684 closed

[2017-06-05 14:14] Coneko commented on #945
Closing since it seems the initial issue has been solved. Create a new issue to discuss the code coverage being broken.

[2017-06-05 14:14] #945 closed

[2017-06-05 14:32] ilya-klyuchnikov commented on #1276
Buck does support native code compilation on Windows. But you have explicitly specify VS toolchain. See examples in https://github.com/ilya-klyuchnikov/buck-windows-cxx. Or you can run buck from VS dev console - then it will pick up `cl.exe`, `link.exe`, etc automatically.

[2017-06-05 15:25] yuriy-yarosh opened #1368 "genrule's deps are missing"
So, according to the existing docs, every buildrule has a set of `deps`.
But why `genrule`'s deps have had considered useless and had been removed in the first place ?

I'd personally love using back as an asset processor via `genrule` with `deps` so I could chain `optipng` commands, or even use it to rebuild and refresh docker images. There are multiple generic use cases for the `genrule` stanza.

[2017-06-05 15:45] aiked commented on #1367
Hello @gongyujun,

I'm afraid I can't help on this one but let's see if @beefon or @ryu2 have some insight.

[2017-06-05 15:58] ryu2 commented on #1367
https://buckbuild.com/command/install.html

I'm not sure if the homebrew fbsimctl has the current device support needed; you may need to build fbsimctl from master.

[2017-06-05 16:32] Coneko commented on #1368
You can specify the inputs to the genrule using `$(location )` macros as explained here: https://buckbuild.com/function/string_parameter_macros.html.

So for example if you want to copy a bunch of files you can put `cp $(location :file1) $OUT && cp $(location :file2) $OUT` or something like that.

[2017-06-05 16:32] #1368 closed

[2017-06-05 17:04] yuriy-yarosh commented on #1368
@Coneko, sure thing, but what if I want to run two `genrule`'s simultaneously as a dependencies of a third one ?

[2017-06-05 20:03] mikekap commented on #1368
@yuriy-yarosh you mean like:
[code]

[2017-06-05 23:34] brettwooldridge commented on #1366
Maybe run dbuck and breakpoint in the catch block.  Is kotlin-stdlib in the classpath?

[2017-06-06 00:45] runningcode commented on #1366
If the annotation processor is written in kotlin, doesn't it need to be passed to kotlinc?

[2017-06-06 01:14] hzsweers commented on #1366
stdlib is on the classpath yeah. Dunno about it needing to be passed to kotlinc, the annotation processor is being used in vanilla java projects

[2017-06-06 01:16] runningcode commented on #1366
Can you tell me if you get a similar error on this branch? https://github.com/facebook/buck/pull/1358

[2017-06-06 02:32] gongyujun commented on #1367
Okay, thank you so much! I have solved it.

[2017-06-06 06:09] Coneko commented on #1368
Note that due to Buck's caching model, thinking of when targets are being run or executed and how to control that using dependencies doesn't map intuitively to how it actually works. It's simpler if you think of inputs and outputs.

This is one of the reasons we removed `deps` from `genrule`: some users were used to the task based mental model that other build systems use, for example ant, and wer

[2017-06-06 06:59] yuriy-yarosh commented on #1368
Thank you @Coneko.

[2017-06-07 07:17] #858 closed

[2017-06-07 17:51] philrabin opened #1369 "exo package buck install SocketTimeoutException"
Getting a SocketTimeoutException. This happens on emulators and devices of multiple Android versions.

Buck version 800d5a9669417d5a8b4bc455e34a629422ed1ff1

[code]

[2017-06-08 11:47] ilya-klyuchnikov commented on #1361
@jeeloo could you try https://github.com/ilya-klyuchnikov/buck/commit/c2a8dcbedf2a63a1f591cc4e33a70fdaa4bdacbd? Thanks

[2017-06-08 20:27] ilya-klyuchnikov commented on #1198
here is the possible solution: https://github.com/ilya-klyuchnikov/buck/commit/861cd1a7ed31a7f9b76794d8f293df8db7eff2e7. Travis in container mode is jealous about resources (especially when multiple JVMs are running). The idea is to run the heaviest tests in a single thread mode. The corresponding successful run is: https://travis-ci.org/ilya-klyuchnikov/buck/builds/240916902

[2017-06-08 21:12] sdwilsh commented on #1198
In the past, I've pulled tests out to run serially that were causing
problems like this (via `run_tests__separately` IIRC).

[2017-06-08 21:21] dreiss commented on #1369
Is this 100% reproducible?  We've seen it occasionally before, but never had luck tracking it down.  It looks like perhaps adb is not properly forwarding data from the device back to the host.  I think the next step would be to run `strace -f` on adb *on the device* to see if the agent is actually sending "z1\n" over stdout (right before the call to receiveAndValidateSessionKey)

[2017-06-09 01:32] runningcode opened #1371 "Un-ignore mixed sources tests when kotlin 1.1.3 is released."
kotlin 1.1.3 includes support for passing java files. We can un-ignore the ignored mixed sources tests when the final version of the compiler is released.

[2017-06-09 19:00] ZacSweers opened #1373 "ActivityLifecycleCallbacks in exo now pass `null` for the activity instance in callbacks"
We noticed this regression recently. Let me know if I'm missing something.

[code]

[2017-06-09 21:32] kageiit opened #1374 "Exopackage installer fails with exception"
When trying to install exopackage apks, the following stacktrace is thrown

[code]

Buck version: 5229bfcf41327982992645059b3f838a10ca6b5b

[2017-06-09 23:17] AttwellBrian opened #1375 "Method change tracking"
**Issue**
Right now buck tracks changes to classes in order to determine whether or not to recompile downstream modules that depend on the changed classes.

Sometimes this results in recompilation of modules that don't actually need to be compiled. For example, consider the following two modules.
* RootModule, which depends on ChildModule, instantiates class X
* ChildModule, defines class X

If a

[2017-06-10 08:17] Coneko commented on #1375
cc @jkeljo

[2017-06-11 09:16] hzsweers commented on #956
Is there anything actually blocking this or does it just need someone to work on it now?

[2017-06-11 15:18] 1nput0utput opened #1377 "Unable to import Objective-C module into Swift"
I have an objective-C(cocoapod JKBigInteger) project I am trying to import into Swift, though the module is compiling correctly, Swift don't see it.

```error: no such module 'JKBigInteger'```

First attempt:
[code]

Second attempt by creating a framework:
[code]

Using as dependency in my apple_binary:
[code]

[2017-06-11 15:49] runningcode commented on #956
I don't think there's anything blocking it.
I filed this with the jetbrains team: https://youtrack.jetbrains.com/issue/KT-18072
Otherwise figuring out how to do this will require examining the source code of the gradle kapt plugin and seeing how it works.

I have some preliminary support for annotation processors in #1358. For example a kotlin class with an `@Inject` constructor seems to work fine

[2017-06-12 10:13] anotherchrissmith commented on #1362
@Coneko ?

[2017-06-12 15:46] jkeljo commented on #1375
Sorry for the delay; I was on vacation. ;-)

I'm not gonna say never, but there are no concrete plans right now.

Method usage/change tracking would require a fundamentally different approach to what Buck currently does with class usage/change tracking.

The class stuff relies on the fact that there is one .class file per class. During compilation, it tracks which class files are actually read by

[2017-06-12 16:26] AttwellBrian commented on #1375
Thanks @jkeljo!

Closing this task since it is more of a question than a Feature Request.

[2017-06-12 16:26] #1375 closed

[2017-06-13 13:00] njlr opened #1379 "Buck sets -fdiagnostics-color, even when it is not recognized"
Building a C++ module on Travis CI I get the following error:

According to https://github.com/manio/vdr-plugin-dvbapi/issues/72, the option `-fdiagnostics-color` was only added in GCC 4.9.

Perhaps Buck should only set this flag once it has checked the GCC version?

[2017-06-13 23:26] #1037 closed

[2017-06-14 02:49] hey99xx opened #1381 "Buck requires python 2.7"
So although it's advertised as buck supporting python 2.6 and 2.7, I've just found out it's not the case.

In https://github.com/facebook/buck/blob/master/programs/buck_repo.py#L10 you're using

    from subprocess import check_output

which is not available in 2.6. So I am ok using 2.7 for python. But the issue is that I cannot force buck to pick up Python 2.7 from my system. Buck's bin file is w

[2017-06-14 03:23] nikhilsh commented on #1339
I'm using `buck version 05e85b081b4c0795d9d0204b74fd02ace0eecf31`

Hmm, I'm still getting the same error upon adding the `prebuilt_apple_frameworks` to `apple_binary` like so:
[code]

[2017-06-14 14:24] Coneko commented on #1381
It should be using `check_output` from here: https://github.com/facebook/buck/blob/master/programs/subprocutils.py#L19.

[2017-06-14 14:27] Coneko commented on #1381
cc @yiding

[2017-06-14 18:46] aajn88 opened #1382 "name 'project_config' is not defined"
The issue is defined in this StackOverflow [question](https://stackoverflow.com/questions/44552381/buck-name-project-config-is-not-defined-how-to-solve-it)

[2017-06-14 21:32] yiding commented on #1381
I think we should either test buck with python 2.6 or drop support for it. Meanwhile, I'll fix this.

[2017-06-14 21:44] yiding commented on #1381
Can you elaborate here? `command` respects your PATH unless `-p` is given. From the Bash man page:

[code]

[2017-06-14 22:48] hey99xx commented on #1381
@yiding sorry if I misunderstood `command`'s explanation from a coworker. It may be using `PATH` which is fine. But the thing is buck would choose python 2.6 regardless. On my system:

[code]

which means `PYTHON=$(command -v python2 python | head -1)` will always be Python 2.6, unless I hack around my system and create a `python2` symlink and point it to 2.7. But Python 2.6 came out of the box in

[2017-06-15 01:55] yiding commented on #1381
Fixed in b2af4022fe7168a4a31571a771ebda426af702eb.

[2017-06-15 01:55] #1381 closed

[2017-06-15 06:22] varun531 commented on #1304
On a related note, is there any way to make Buck use a provisioning profile for simulator builds?

I ask because it is the provisioning profile that gives my app access to things like the keychain when I build with XCode, and because provisioning profiles seem to be ignored for buck simulator builds, my app cannot access the keychain when running on a simulator.

This would also hinder one's abili

[2017-06-15 10:35] Coneko commented on #1382
Answered on SO.

[2017-06-15 10:35] #1382 closed

[2017-06-15 11:02] gamwebdev commented on #1382
On Jun 15,  4:06 PM, "Coneko" <notifications@github.com> wrote:

Answered on SO.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/facebook/buck/issues/1382#issuecomment-308694348>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/ARgwxVm4vlWDT3gmbxP2ECZ2XlCbNBNmks5sEQkSgaJpZM4N6Sgh>
.

[2017-06-15 20:26] styurin commented on #1382
Created https://github.com/fbsamples/bucksamples/pull/4 to remove these targets.

[2017-06-15 20:41] styurin commented on #1176
Can you show the content of the APK?

$ unzip -l buck-out/gen/android/demo-app.apk

[2017-06-15 21:06] aajn88 commented on #1176
Is this enough?

![screen shot 2017-06-15 at 4 05 45 pm](https://user-images.githubusercontent.com/5447552/27201796-9d08e1cc-51e4-11e7-8c3c-8478bf3b1ab0.png)

[2017-06-15 21:26] styurin commented on #1176
Looks like your apk is missing libs:

[code]

Can you remove buck-out, rebuild apk and attach the log, please?

[code]

Log should be in `buck-out/log/buck-0.log`.

[2017-06-15 21:32] aajn88 commented on #1176
I have to send it as `.txt` because `.log` is not accepted in GitHub

[buck-0.txt](https://github.com/facebook/buck/files/1079082/buck-0.txt)

[2017-06-15 22:05] styurin commented on #1176
Ok, it looks like you don't have Android NDK installed.

You need to install Android NDK from [here](https://developer.android.com/ndk/downloads/older_releases.html) (version 10e) and set `ANDROID_NDK_REPOSITORY` to the location of the unpacked NDK (see [buckconfig section](https://buckbuild.com/concept/buckconfig.html#ndk.ndk_version) for more info).

For example, if you unpack NDK to `~/tmp/ndk`

[2017-06-15 22:39] aajn88 commented on #1176
Awesome, man! It works! I just had to execute again:

    $ buck kill && rm -rf buck-out
    $ buck build demo_app_android

Thanks a lot. This error was causing me headache for months

[2017-06-15 23:32] ryu2 commented on #1304
I think you're confusing provisioning profiles (which are only used on device) and entitlements being linked into the binary (which is only used on simulator).

To access the keychain on Simulator, you'd have to manually pass flags to embed the entitlements at link time in a new section as described in the OP.

[2017-06-16 06:38] varun531 commented on #1304
Hi,

So the situation as I understand it is this:

1) Buck does not currently insert entitlements into simulator builds

[2017-06-16 15:13] ryu2 commented on #1304
@varun531 Yes, that's  mostly correct.

1. For 3, we've found embedding the raw entitlements file (what you'd pass into `CODE_SIGN_ENTITLEMENTS`) works for simulator builds, no need to do the munged `xcent` version.
2. You should use `platform_linker_flags` and match on `iphonesimulator` to exclude those flags for device builds.

[2017-06-16 16:55] dsyang opened #1384 "Update website with kotlin rules documentation"
Now that buck:
- can build pure kotlin targets
- can build mixed kotlin + java targets
- supports android
- is actually fast(ish)
- recognizes kotlin rules in buck project

We should add docs on how to use it on the website!

@kageiit, @brettwooldridge, @runningcode any of you want to pick this up? :)

[2017-06-16 17:04] runningcode commented on #956
I'll probably take a stab at this soon. I've been taking a look at how this is done in gradle land. This is how it is done in kotlin 1.1.3.

There's 4 steps.
1. kaptGenerateStubsKotlin:
run kotlinc with `plugin:org.jetbrains.kotlin.kapt3:aptMode=stubs`
2. kaptKotlin
run kotlinc with `plugin:org.jetbrains.kotlin.kapt3:aptMode=apt`
3. compileKotlin
run kotlinc regularly
4. compileJava
run javac with

[2017-06-17 00:51] brettwooldridge commented on #1384
I've been thinking about that.  I'll take a look.

[2017-06-18 18:36] varun531 commented on #1304
@ryu2 Thanks again, I've got it working now!

For those who run into this same issue, this was the syntax I needed to get the linker flags to work:

`platform_linker_flags = [('iphonesimulator*', ['-Wl,-sectcreate,__TEXT,__entitlements,path/to/entitlements.xcent'])],`

[2017-06-19 14:54] nordlow opened #1385 "Extra Checkers/Linters Support"
Does Buck support some way of calling extra linters/checkers in parallell with the compilation step similar to what Bazel [provides here](https://bazel.build/versions/master/docs/be/extra-actions.html ). I'm thinking mainly of calls to

- cppcheck
- qac

[2017-06-20 00:55] kageiit opened #1386 "Kotlin rules cannot be compiled against abi jars"
f43e2d20913443d7047fd4219e7559d9108a802a introduced a regression that puts abi jars on the kotlinc classpath instead of full jars. `kotlinc` does not like this and errors out on compilation when using methods from the kotlin standard library with the following stacktrace

[code]

A repro case is available here: https://github.com/uber/okbuck/tree/gk_kotlin_abi
Command to run: `./buckw build //libr

[2017-06-20 00:57] kageiit commented on #1386
We should add a test case with `compile_against_abis = true` and kotlin sources to prevent this from regressing in the future

[2017-06-20 12:02] styurin commented on #1176
Updated docs in https://github.com/facebook/buck/commit/d38de122a72ba1ac1861c46226280c8648331197 and add a check to prevent building APKs when there is native code and no native platforms are present in https://github.com/facebook/buck/commit/28b232de738039bc0c410d8e6a3a7ebeefce8b26.

[2017-06-20 12:02] #1176 closed

[2017-06-20 16:19] kageiit commented on #1369
@dreiss This is 100% reproducible on a few engineers' devices and laptops. Will try to see if adb is sending `z1\n` over stdout to debug

[2017-06-20 18:08] clonetwin26 opened #1389 ".buckjavaargs should default use UTF-8"
This should be the default Java argument. -Dfile.encoding=UTF-8

We saw a number of crashes like this, and mitigated them by setting the file encoding to UTF-8:
[code]

[2017-06-20 18:10] kageiit commented on #1385
We are also definitely interested in this. This would allow us to run static analysis in parallel with the compiler and break the build if there are violations.

cc @msridhar @hzsweers

[2017-06-20 18:12] kageiit commented on #1374
Tracked it down to an issue with the output AdbHelper is trying to read from ddmlib
[code]

AdbHelper is looking for `:` in the output which does not exist and crashes immediately. Does this require an update to ddmlib? Seems like the latest is 25.3.0

[2017-06-20 18:19] kageiit commented on #1374
I am seeing a slightly different stacktrace now

[code]

Similar to #1369

[2017-06-20 18:29] kageiit commented on #1374
I tried increasing the connect and receive timeouts to twice their current value to no avail in AgentMain

[2017-06-20 18:30] kageiit commented on #1374
@dreiss Any idea what else I can try here to debug this?

[2017-06-20 19:33] dreiss commented on #1374
There are two problems here:

1. Superficial problem: StringIndexOutOfBoundsException happens sometimes when there's something wrong with the agent.  We should just detect this case and allow the original exception through.

2. Root problem: I don't know what's wrong.  In theory, the underlying mechanism should be pretty reliable: you're just connecting to a socket over adb forward.  Why would tha

[2017-06-21 17:00] kageiit commented on #1386
Closed in 128baa0

[2017-06-21 17:00] kageiit commented on #1386
Wait nvm, I remember @jkeljo wanting this to be open.

[2017-06-21 20:24] kageiit opened #1392 "kotlin_library rules produce different cache/rulekeys on different machines with same settings"
When using in memory kotlin compilation, absolute paths are being appended to the rulekey

https://github.com/facebook/buck/blob/00223c7b1e7c5c1544d1d4fc838b87745ffc4ffc/src/com/facebook/buck/jvm/kotlin/JarBackedReflectedKotlinc.java#L68
https://github.com/facebook/buck/blob/00223c7b1e7c5c1544d1d4fc838b87745ffc4ffc/src/com/facebook/buck/jvm/kotlin/JarBackedReflectedKotlinc.java#L165

A sourcepath

[2017-06-21 20:25] kageiit commented on #1392
cc @dsyang @brettwooldridge

[2017-06-21 20:31] clonetwin26 commented on #1385
Assuming you are behind a target, you should be able to make an asynchronous build command and process the output for whatever you want.

[2017-06-21 23:38] michaeleisel opened #1394 "Embedding dylibs in iOS apps"
I'd like to embed a .dylib file in my iOS app (I want to archive an app for beta distribution with the address sanitizer on, and it uses a .dylib in Xcode.app). I've heard that you can embed a .dylib in a .framework file, but I haven't had any luck with that. I've gotten things to work by creating a copy files phase that copies the .dylib to the Frameworks folder and checking the box for "code sig

[2017-06-22 22:09] scottrice commented on #1394
You can do this by creating a target like the following:

(Note - I'm freehanding this so it might not build exactly, but you'll get the general idea)

[code]

That should do what you want. I'm not sure how this works with Xcode project generation, but it should work if you do `buck build`

[2017-06-23 09:39] njlr opened #1396 "C/C++ language standard resolution?"
I am trying to figure out a good approach for resolving a language standard for C/C++ targets.

Suppose I have a library `liba` that requires `-std=c++14`, and depends on `libb` that can compile with `-std=c++11`. I might describe this using:

[code]

On most targets (e.g. macOS) this works fine, but for other targets, the ABI is different for `c++14` and `c++11`. To fix this, we can change `libb`

[2017-06-23 20:36] sdwilsh commented on #1396
cc @andrewjcg

[2017-06-23 21:47] #1392 closed

[2017-06-23 22:51] yiding commented on #1385
Can this be implemented via wrapper scripts around the compiler, such that compiler invocations can also fork off a linter check?

[2017-06-23 23:29] kageiit commented on #1385
@yiding That would disable in memory compilation which would remove a lot of benefits :(

[2017-06-24 04:17] #1389 closed

[2017-06-25 07:00] varun531 commented on #1367
Hi,

I'm trying to install and run an app on my physical device with a debugger attached. Is this currently supported? I try to run an app on my device with the following command:

`buck install -d -r calc_free_app`

I've set "device_helper_path" in .buckconfig to point at homebrew-installed simctl v0.4.0. The app IS loaded onto my phone, but it's not running. This is some of my output:

[code]

T

[2017-06-26 02:53] kageiit opened #1397 "Project generation is broken on buck master"
When generating projects, this exception is thrown

[code]

To repro, Checkout https://github.com/uber/okbuck , update buckversion to head and run `./buckw project`

[2017-06-26 02:54] kageiit commented on #1397
cc @styurin

[2017-06-26 04:52] ShangxuanWu commented on #1363
I am getting a same error here. Is it fixed or there is some workaround? How to turn sqlite off?

My error message goes like this:

`[-] PROCESSING BUCK FILES...FINISHED 17.7s [100%] 🐳  New buck daemon
[-] DOWNLOADING... (1.49 MB/S AVG, TOTAL: 2.76 MB, 348 Artifacts)
[-] BUILDING...FINISHED 51.3s [100%] (528/3203 JOBS, 7 UPDATED, 6 [0.2%] CACHE MISS)
    Details: http://localhost:53844/trace/83b3a

[2017-06-26 08:51] jeeloo commented on #1361
@ilya-klyuchnikov I still get the same behaviour.

[2017-06-26 16:03] bertmaher commented on #1363
@ShangxuanWu: sqlite isn't enabled by default.  If you want to double-check the setting, make sure that `build.metadata_storage=filesystem` in your config (and not sqlite).

In any event, I don't think that error is related to SQLite; it looks like a corrupt artifact has been stored in your cache.  I've only seen that happen recently on a machine with a bad disk controller.

[2017-06-26 16:08] ryu2 commented on #1367
@varun531 Thanks for the heads up.  It looks like we may need to update the parameters we pass to fbsimctl for launching.

[2017-06-26 17:24] michaeleisel commented on #1394
great, thanks!

[2017-06-26 20:17] #1384 closed

[2017-06-26 23:04] clonetwin26 commented on #1397
https://github.com/facebook/buck/commit/5443fc29ac6e5db81aaa3ed3dce9fb4853cd025c

[2017-06-27 07:25] RimingChen commented on #1176
the same problem, after installing ANDROID NDK and setting ANDROID_NDK_REPOSITORY to the path,
still no libjni.so generated.
when building the libjni.so it reports:
-------------------
cross-platform-scale-2015-demo$ buck build //android/cxx:jni
Using watchman.
android/cxx/Hello.cpp:9:10: fatal error: 'jni.h' file not found
#include <jni.h>
         ^
1 error generated.
BUILD FAILED: //android/cxx

[2017-06-27 07:36] RimingChen commented on #1176
I've also tried:
$ buck kill && rm -rf buck-out
$ buck build demo_app_android
but still get no libjni.so
[buck0_buildlog.txt](https://github.com/facebook/buck/files/1104487/buck0_buildlog.txt)

[2017-06-27 11:13] ilya-klyuchnikov commented on #1361
According to your logs you have  W i n d o w s   7   E n t e r p r i s e .
Internally, buckd on windows uses windows named pipes for communication between client/server. We are testing/supporting it only on Windows 10 reliably so far. It is quite possible that we hit default system settings when we create named pipes and these settings are forbidding to create named pipes on your machine.

I am so

[2017-06-27 12:04] guhan121 opened #1400 "Probably Android NDK is not configured properly"
in windows7 x64

ANDROID_NDK=F:\TDDownload\android-ndk-r14b-windows-x86_64\android-ndk-r14b
NDK_HOME=f:\TDDownload\android-ndk-r14b-windows-x86_64\android-ndk-r14b
ANDROID_NDK_REPOSITORY=F:\TDDownload\android-ndk-r14b-windows-x86_64\android-ndk-r14b

D:\Users\Administrator\Desktop\bucksamples\cross-platform-scale-2015-demo>buck b
uild demo_app_android
Not using buckd because watchman isn't install

[2017-06-27 13:36] RimingChen opened #1401 "buck demo failed to load libjni.so"
hi,
   I followed steps on [https://buckbuild.com/setup/getting_started.html](url), but get error when running the android demo apk:
Process: com.facebook.buck.demo, PID: 7377
                                                 java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.facebook.buck.demo-2/base.apk"],nativeLibraryDirectories=[/data/app/com.face

[2017-06-27 18:16] yiding commented on #1400
Try setting ANDROID_NDK_REPOSITORY to the parent directory of the particular versioned ndk folder, in your case: `F:\TDDownload\android-ndk-r14b-windows-x86_64\`

[2017-06-27 18:17] styurin commented on #1400
Hey, here's the section from Getting Started guide:

You need to check the version of ndk in the config and install the correct version.

`ndk_version` option in buck config (https://buckbuild.com/concept/buckconfig.html#ndk.ndk_version):

You need to change `ANDROID_NDK_REPOSITORY` to point to a folder with ndks and then put the specific NDK into a subfolder. For example, if `ANDROID_NDK_REPOSITO

[2017-06-27 18:17] #1400 closed

[2017-06-27 18:18] styurin commented on #1401
Are you using the latest buck version? This was fixed in https://github.com/facebook/buck/issues/1176.

[2017-06-27 18:19] styurin commented on #1176
@RimingChen this is a separate problem, please, create a new issue

[2017-06-27 22:31] kageiit commented on #1374
Fixed in #1390

[2017-06-27 22:31] #1374 closed

[2017-06-27 22:53] styurin commented on #1397
Fixed in 40fb511f5b3e27027175497940f3fda687fb30b4

[2017-06-27 22:53] #1397 closed

[2017-06-27 22:54] cwoodwar6 opened #1402 ".buckconfig project ignore not working"
To repo, add a random BUCK file to a directory and add to your `.buckconfig`:
[code]

The newly added BUCK file is not actually being ignored. This can be observed by running `buck targets` and seeing the newly added BUCK file.

According to the [documentation](https://buckbuild.com/concept/buckconfig.html), the parameter should cause the directory to be "ignored in the following contexts" which i

[2017-06-27 23:17] kageiit commented on #1397
Thanks for the fast fix @styurin !

[2017-06-27 23:18] yiding commented on #1402
I failed to reproduce this behavior on rev db6deb45da0188f542fa1c2f862522e586abc7bf (the current master).

Here is a terminal transcript (where ~/buck-oss is my checkout)
[code]

[2017-06-27 23:18] kageiit commented on #1402
Are you using watchman to search for buck files? If so, you may have to use .watchmanconfig to exclude it as well

[2017-06-27 23:19] yiding commented on #1402
I tried it with an empty .watchmanconfig, and behavior was still correct.

[2017-06-27 23:29] cwoodwar6 commented on #1402
Here is what I changed: https://github.com/cwoodwar6/okbuck/commit/e6ec0ff9e76baa0966737117a7f4016450df1497

If I run `./buckw targets` I see `//test:res_debug`

[2017-06-27 23:39] yiding commented on #1402
Your change adds an exclusion for `test` which ignores that particular path, not paths within that directory. This is contrary to what you reported in your initial post here.

[2017-06-27 23:41] clonetwin26 commented on #1397
wooooo \o/

[2017-06-27 23:51] cwoodwar6 commented on #1402
The result is the same no matter how I do it: https://github.com/cwoodwar6/okbuck/commit/c8657ff7bd1c968dbfb52cfc47cee41d85d1c5c2

[2017-06-28 00:42] yiding commented on #1402
Looks like okbuck creates a `.buckconfig.local` which overwrites project.ignore with:

[code]

This is an issue with okbuck, not buck itself.

[2017-06-28 00:42] #1402 closed

[2017-06-28 00:51] kageiit commented on #1402
@yiding Good catch. Fixed in https://github.com/uber/okbuck/commit/2daa553db25139a69fdd1f4119207c0f519a861c

[2017-06-28 02:49] RimingChen commented on #1401
I'm using the release version installed by home-brew on Mac:

cross-platform-scale-2015-demo$ buck --version
buck version v2017.05.31.01

Also I've tried your tips on [#1176](https://github.com/facebook/buck/issues/1176)
$ buck kill && rm -rf buck-out
$ buck build demo_app_android

still the same problem.

[2017-06-28 03:42] guhan121 commented on #1400
ok, I set ANDROID_NDK_REPOSITORY=F:\TDDownload\android-ndk-r14b-windows-x86_64\
buck can got NDK;

issue 1.
buck cannot got  EXE file.
such as
F:\TDDownload\android-ndk-r14b-windows-x86_64\android-ndk-r14b\toolchains\arm-linux-androideabi-4.9\prebuilt\windows-x86_64\bin\arm-linux-androideabi-gcc.exe

in my machine,I modify the D:\buck\src\com\facebook\buck\android\NdkCxxPlatforms.java

Provisional

[2017-06-28 03:49] guhan121 opened #1403 "Buck cannot run on Windows7?"
My machine Windows7 x64;
installed git ant
![image](https://user-images.githubusercontent.com/5517369/27619840-c8f491e2-5bf7-11e7-97df-ce6e6b57d28c.png)

I set ANDROID_NDK_REPOSITORY=F:\TDDownload\android-ndk-r14b-windows-x86_64
compile bucksamples

buck can got NDK;

issue 1.
buck cannot got EXE file.
such as
F:\TDDownload\android-ndk-r14b-windows-x86_64\android-ndk-r14b\toolchains\arm-linux-andr

[2017-06-28 04:27] yiding commented on #1403
It seems like https://github.com/facebook/buck/pull/1122 adds documentation for working with android on windows, but I'm not sure how well supported windows actually is, this could very well simply be broken, as we at Facebook do not use windows for developing android.

Given the log it seems like buck isn't properly invoking gcc for compiling native bits of the code.

@ilya-klyuchnikov do you kno

[2017-06-28 08:15] RimingChen commented on #1401
thanks buddy, i checkout the latest code from [buck](https://github.com/facebook/buck.git), it works, the shared lib finally comes out!
One question, the ndk-version we set in the ndk section will not work if we set it to its short name when using new ndk version?
e.g..
 the following setting reports "No native platforms detected.":
ndk_version = r14b
but   ndk_version = 14.1.3816874
works.

[2017-06-28 12:08] varun531 opened #1404 "How to specify minimum OS Version for iOS app?"
Hi,

Apologies if I've missed something basic. I'd like my iOS app to have a minimum iOS version of iOS 9.0. In XCode, this is the iOS Deployment Target, but for Buck I set it in my Info.plist:

[code]

In my BUCK files, I just use:

`'$SDKROOT/System/Library/Frameworks/UIKit.framework'`

when specifying frameworks, and $SDKROOT seems to resolve to iOS 10.2, as the resulting Info.plist in my .app

[2017-06-28 14:14] ilya-klyuchnikov commented on #1403
We are not going to support android development on windows in the nearest future. The biggest problem is ndk (changing commands to be with `.exe` on windows, but the biggest sub-problem is that we use argfiles for ndk and how we do it doesn't work on windows).

[2017-06-28 14:30] varun531 commented on #1404
Oops sorry, it appears it's done in the .buckconfig file via:

[apple]
iphoneos_target_sdk_version = 9.0

And the actual SDK Buck links against is whatever SDK

`xcodebuild -sdk -version`

prints out that matches the platform (iphoneos, iphonesimulator) you're trying to build for. That's where the 10.2 comes from.

[2017-06-28 14:30] #1404 closed

[2017-06-28 16:40] styurin commented on #1401
This is because NDK versions are stored differently depending on the version: https://github.com/facebook/buck/blob/93e2aafe9c8031f2b086a589e53bbc068dcf0bf1/src/com/facebook/buck/android/DefaultAndroidDirectoryResolver.java#L43-L46

I'll update the docs.

[2017-06-28 18:46] yiding commented on #1403
We should probably update documentation to not talk about android development on windows.

[2017-06-28 20:22] styurin commented on #1401
updated docs in 6640d076ab97c4b1e4a906b6e2dca9ca7d7f2e35

[2017-06-28 20:22] #1401 closed

[2017-06-28 20:35] #1225 closed

[2017-06-28 20:37] styurin commented on #1004
Actually I take my words back :) `buck project` walks the directories in the repo to build the list of excluded folders. This means that the result of `buck project` depends on the local changes, not only on the buck target graph.

[2017-06-28 20:40] styurin commented on #897
Quickstart was removed in b3c1dd90071594758febf17ccb25469597710207

[2017-06-28 20:40] #897 closed

[2017-06-28 20:41] #836 closed

[2017-06-28 20:42] styurin commented on #755
quickstart was removed

[2017-06-28 20:42] #755 closed

[2017-06-29 01:14] guhan121 commented on #1403
thank all!

[2017-06-29 01:14] #1403 closed

[2017-06-29 07:42] dark19940411 opened #1406 "Don't know how to start a swift project with Buck."
I'm new to Buck, but I really want to try out the features of Buck. And because I can't find any referred tutorials  on its website, I have no choice but to imitate your iOS sample code's configurations, which is written in pure objc. But after I executing `buck build` command. I got these log:
[code]
Well, it seemingly says that I'm missing a swift compiler. But I am already installed Xcode 8.3.2

[2017-06-29 12:39] guhan121 opened #1407 "#aar_unzip] failed. Caused by [NoSuchElementException]: No value present"
in a right  *.aar file

/AndroidManifest.xml (mandatory)
/classes.jar (mandatory)
/res/ (mandatory)
/R.txt (mandatory)
/assets/ (optional)
/libs/*.jar (optional)
/jni//*.so (optional)
/proguard.txt (optional)
/lint.jar (optional)

--------------------------------------------------------------------------------
but our aar file may be like this
[code]

so when i run "./buckw build appRelease"

I go

[2017-06-29 15:32] sdwilsh commented on #1403
This used to work, even with NDK stuff.  If it's not working anymore,
that'd be a regression.

[2017-06-29 18:24] yiding commented on #1407
You can fix it by constructing your aar file with the correct layout.

[2017-06-29 18:24] #1407 closed

[2017-06-29 18:31] yiding commented on #1406
You should specify a config option to set the platform to one that uses xcode's toolchain. The platform "default" is a generic unix platform.

You can pass

[code]

or set in the config file:

[code]

or pass the platform as a flavor directly to the target

[code]

You can get a list of valid platform flavors via:

[code]

Take note that buck's swift support is very rudimentary, so you might encou

[2017-06-29 20:17] #1363 closed

[2017-06-29 20:28] bertmaher commented on #1363
I'm pretty sure the attached diff will fix this issue -- if you happen to give SQLite a try again, please let me know how it goes!

[2017-06-29 22:59] #1294 closed

[2017-06-30 12:12] dark19940411 commented on #1406
OMG that's working! Thanks a lot! But why would a swift project set such a thing that the title is [cxx]. It seems odd to me!

[2017-06-30 12:22] dark19940411 commented on #1406
It doesn't matter. I just want to try if it can run some swift project on it, because I've listened to some Uber employees' speech. They strongly recommended using Buck to reduce build time and they got plenty of swift code to build.

[2017-06-30 12:28] #1406 closed

[2017-07-01 00:28] yiding commented on #1396
Buck does not do global constraint solving of any kind (except maybe versioned dependencies, which i defer to @andrewjcg ).

[2017-07-01 00:31] yiding commented on #1385
What is "in-memory compilation"?

[2017-07-03 09:52] guhan121 opened #1408 "how insert some thing for apk"
Hi
We use modularization for our app.

We build a sub apk for Some function.
Like this
![image](https://user-images.githubusercontent.com/5517369/27787702-5468780a-6018-11e7-8daa-f6ebb221f754.png)

For insert sub*.apk for master.apk.

We make a make a aar file.Like this:
sub1-6.4.5-release.aar
.
├── AndroidManifest.xml
├── jni
│    └── armeabi-v7a
│          └── libcom_sub1.so
└── META-INF
└── MAN

[2017-07-03 10:15] guhan121 opened #1409 "how to fix "duplicate entry""
while our project contain some sub modules if sub module use `com.nucleon.heap-5.2.3_dev-SNAPSHOT.aar`
and master use `com.nucleon.android.nucleonvideolib.nucleonvideolib-2.3.41.5-dev-SNAPSHOT.aar`
because assets/bf1.dat both of them

so we got the  exception "duplicate entry"
i cmp them ，and them are same file.

[code]

i modify.
`com.facebook.buck.zip.AppendingZipOutputStreamImpl#actuallyPutNext

[2017-07-03 16:17] jkeljo commented on #1385
In-memory compilation is referring to `Jsr199Javac`, which invokes the compiler in-process with Buck. It's a *ton* faster than exec'ing `javac` for each rule (e.g. for Buck itself literally 100% faster), because it eliminates invocation and VM startup overhead, allows the compiler (and in some cases annotation processor) classes to be loaded just once, enables some cross-build caching of JAR direc

[2017-07-05 19:54] dreiss commented on #1353
I fixed the installer.  We're still having some trouble with our internal version of the runtime, but I think the open-source version is working.  Please re-open if you have trouble.

[2017-07-05 19:54] #1353 closed

[2017-07-05 19:56] dreiss commented on #1223
I think this has been resolved.  Please re-open if you have trouble.

[2017-07-05 19:56] #1223 closed

[2017-07-07 10:22] gontovnik commented on #943
@nguyentruongtho, could you please let me know what is the latest status on that? I'd love if you could ping me on Messenger: http://m.me/gontovnik

Thanks!

[2017-07-08 07:23] bopbi commented on #887
hi recently i created a build using buck, but it always failed and the output contains:

`Unrecognized plist variable: $(PRODUCT_BUNDLE_IDENTIFIER) when reading from the Info.plist file`

and after i to change the $(PRODUCT_BUNDLE_IDENTIFIER) on the plist to a hardcoded value it work, so does my issue related with this issue?

[2017-07-10 16:49] kageiit commented on #1289
@jkeljo any update on this? We are getting around this by removing the assertion and only logging non null events.

[2017-07-11 03:35] guhan121 opened #1413 "can i use a package id is not 0x7f"
when i seek the codes ,i find
public class ResTablePackage extends ResChunk {
  public static final int HEADER_SIZE = 288;
  public static final int APP_PACKAGE_ID = 0x7F;

  @Override
  public int map(int id) {
    int resPackage = id >> 24;
    if (resPackage != ResTablePackage.APP_PACKAGE_ID) {
      return id;
    }
    int resType = (id >> 16) & 0xFF;
    int resId = id & 0xFFFF;
    int entr

[2017-07-11 05:00] styurin commented on #1413
why do you need this?

[2017-07-11 13:08] MohamedAlsadek commented on #423
when I try to build I got the following error

[code]

[2017-07-11 14:39] MohamedAlsadek commented on #1070
when I tried to set it in .buckconfig like this

I got the following error

[code]

[code]

[2017-07-11 19:57] cjhopman commented on #1413
This is only used for exo-for-resources. It only supports package id of 0x7f because that's the only thing that aapt writes by default.

But what are you trying to do? I really can't tell if this code is even relevant to you.

[2017-07-11 22:18] kageiit commented on #1409
@guhan121 Another solution would be to use the same aar for both places as well

[2017-07-11 23:35] guhan121 commented on #1413
@styurin @cjhopman because main apk is 0x7f, other apk will build for a plugin , the plugin will package as a lib_plugin_name.so in mian apk libs.we will config some plugins,so res id must be different.

[2017-07-11 23:37] styurin commented on #1413
I think you need to provide more information about what your are trying to do. What do you mean by plugin?

[2017-07-12 12:06] MohamedAlsadek opened #1415 "Failed to build new created swift xcode application"
I created normal single view application, I added some labels in the storyboard, and when I try to build I got the following error

[code]
here is the configurations

[code]

[code]
and here is how the project structure look like

[code]

[2017-07-12 14:15] SMohamedMubarish opened #1416 "whether the change in dependency module automatically get affected in main modules"
Hi,
     I am new to Buck. I have a multimodule project, in which few are dependency modules. I have added those dependency module in other module. whether compiling the changes in dependency module will automatically get affected in my main module? or I need to build every time the other modules once dependency modules are built?

Any quick response is appreciated?

[2017-07-12 14:29] mzlee commented on #1416
Hi, Buck maintains a target graph which tracks when dependencies need to be rebuilt and propagates that to each of the other modules that depend on it. If you rebuild the main module, Buck will automatically rebuild the other depending modules it has detected as changed.

If your main modules depends on three other modules, a change to one of the depending modules should result in a rebuild for bo

[2017-07-13 07:43] SMohamedMubarish commented on #1416
Yes lee... Thanks for your input.. if I am using my dependent module in three different modules.. do I need to rebuild each module after building the changes in dependent module.

[2017-07-13 19:29] marcinkwiatkowski opened #1418 "Invalid signature file digest for Manifest main attributes"
We started seeing following build failures in one of the very recent versions of buck (`62b00c0a0e20a8224dd0315612f6ffa346636f40`)

[code]

Genrules that started failing:

[code]

[2017-07-13 21:53] styurin opened #1419 "Buck plugin is not compatible with the latest IntelliJ versions"
It results in improper handling of the test results.

[2017-07-13 22:34] cwoodwar6 opened #1420 "Buck IntelliJ plugin won't run instrumentation tests in androidTest"
Tests located in the `androidTest` directory have the buck gutter icon but choose the wrong target to invoke. Instead of choosing `//app:instrumentation_debug_test` they by default choose `//app:lint_debug_test`

[2017-07-13 22:51] styurin commented on #1420
What does `buck query 'owner(filename)'` returns?

[2017-07-13 22:59] cwoodwar6 commented on #1420
[code]

[2017-07-13 23:14] styurin commented on #1420
I suppose plugin chooses the first target. How do you use `lint_debug_test`?

[2017-07-13 23:18] cwoodwar6 commented on #1420
We actually aren't actively using that target, it is auto generated for us via OkBuck. But basically it runs lint over the androidTest source directory. I suppose I could remove it to get around this. Is the list sorted alphabetically and picks the first one? I could also try renaming the target to hopefully change the ordering.

[2017-07-13 23:33] mzlee commented on #1418
I believe this was resolved by reverting https://github.com/facebook/buck/commit/78311f8e1a5196dc6d4079ecd8adbff4acff238e

Does this still fail on more recent version?

[2017-07-13 23:42] cwoodwar6 commented on #1420
I also realize the second target is wrong. This is an instrumentation test, I'd need the `android_instrumentation_apk` rule (target of //app:instrumentation_debug_test) in order to run this test. `//app:src_debug_test` is the `android_library` that compiles the code, but not the target I need to run. I'm guessing this is something that `buck query` just isn't set to handle?

[2017-07-14 00:01] marcinkwiatkowski commented on #1418
correct, thanks @mzlee

[2017-07-14 00:01] #1418 closed

[2017-07-14 04:32] styurin commented on #1420
I think we can add support to exclude targets from testing using specific labels.

As for `android_instrumentation_test`, we would need to add support for such tests. This can be a bit messy because there might be multiple tests for a given library or an apk.

[2017-07-14 05:06] guhan121 commented on #1413
@styurin we use the a framework like this https://github.com/wequick/Small

[2017-07-14 06:49] styurin commented on #1413
Ok, I don't think we'll be adding support for this.

[2017-07-14 07:13] guhan121 commented on #1413
@styurin thanks

[2017-07-14 10:18] #1413 closed

[2017-07-14 10:24] guhan121 opened #1421 "can i use jcenter or maven"
can  buck automatic download  libs or jars ?

like gradle use compile "....."

i find buck have a function remote_file
but user must give it sha1 and url;  it is so difficulty ,Why can't buck download them automatic.

[2017-07-14 12:38] ChristianOrgler commented on #1236
@nikhilsh could you fix it?

[2017-07-14 18:28] sdwilsh commented on #1421
It will never be automatic for Buck.  One of the core principles of Buck is build reproduciblity, which means you need to know that the bits you download from the Internet are what you expect them to be (hence the sha1) and how to get it (hence the url).

[2017-07-14 18:28] #1421 closed

[2017-07-16 05:10] bfreis opened #1423 "IntelliJ plugin parsing issue"
Hello,

I've installed the IntelliJ plugin, and it seems like it has some issue when parsing BUCK files. If I declare very simple rules, it works fine. But as soon as I try to, say, define a function, or a variable, or a list comprehension, it shows a parse error, and then the entire file loses syntax highlighting.

Is this a known issue? Any workarounds?

I thought of creating an external .py fil

[2017-07-17 15:54] chriskonstad commented on #38
I think there's been a change that causes this to be an issue again.

I ran the sample commands from @subtleGradient and got this output for the path with a space:

The output of `buck targets` in the path without spaces was as normal.

[2017-07-17 20:32] phoenixuprising commented on #1353
Sorry for the bit of delay. I was just able to test this and it looks like it is now working properly. Thanks for the fix.

[2017-07-18 01:49] silentnuke opened #1425 ""applicationId" is not provided as default manifest placeholder"
@kageiit added manifest placeholders support at this PR https://github.com/facebook/buck/pull/753
However comparing to Gradle it doesn't provide a default placeholder [applicationId](https://developer.android.com/studio/build/manifest-build-variables.html) which should be a final package name.

It's defiantly possible to specify it manually, but would be nice if it would be provided by default.

[2017-07-18 09:41] krossford opened #1426 "build failure on win: BUILD FAILED: No native platforms detected. Probably Android NDK is not configured properly."
windows10 cmd build
my env config:
ANDROID_HOME: D:\dev_programs\android-sdk
ANDROID_SDK: D:\dev_programs\android-sdk
ANDROID_NDK_REPOSITORY: D:\dev_programs\android-ndk-r13b

in D:\dev_programs\android-ndk-r13b
--- build
--- platforms
--- prebuild
--- ndk-build.cmd
--- ndk-depends.cmd
--- etc...

in D:\dev_programs\android-sdk
--- add-ons
--- build-tools
--- docs
--- AVD Manager.exe
--- etc...

s

[2017-07-18 16:25] styurin commented on #1426
`ANDROID_NDK_REPOSITORY` should point to a folder that contains specific versions of NDK. In your case it's `D:\dev_programs`

[2017-07-18 19:54] styurin commented on #1408
Answered in another issue, we don't have plans to support that.

[2017-07-18 19:54] #1408 closed

[2017-07-19 01:13] yiding commented on #1426
BTW android rules that uses the NDK doesn't currently work properly on windows, so @ilya-klyuchnikov  tells me.

[2017-07-19 02:34] yiding commented on #1415
`*.swift` only matches files in the given directory. Your swift files in BuckDemoApp directory were not picked up in the glob.

See: https://buckbuild.com/function/glob.html

[2017-07-19 02:34] #1415 closed

[2017-07-19 05:26] styurin commented on #1419
Plugin was updated: https://plugins.jetbrains.com/plugin/7826-buck-for-idea

[2017-07-19 05:26] #1419 closed

[2017-07-20 10:45] nikhedonia opened #1430 "reproducibility, system libraries and dynamic compiler-flags"
on [reddit](https://www.reddit.com/r/cpp/comments/6nu39i/approaches_to_c_dependency_management_or_why_we/dkglgz0/) the following question came up: `how can I use pkg-config with buck?`

a naive solution would be:
[code]

How does buck handle this case?
Does buck hash the flags pre or post-expansion?
Does buck hash the linked system headers and libraries as well?

[2017-07-20 14:57] cubuspl42 commented on #956
For future reference: https://stackoverflow.com/questions/45217399/how-to-use-kapt-from-command-line-with-kotlinc

[2017-07-21 00:12] artem-zinnatullin opened #1431 "Publish buck-android-support.jar to publically available maven repo."
Currently [you have to build exopackage support library from sources](https://buckbuild.com/article/exopackage.html#build-buck-support-library) and store jar in your repo (storing binaries under vcs is not a great idea) or upload it to own maven repo which is:

1. Not user friendly (building java library from sources to use it feels wrong in 2017)
1. Error-prone since you have to monitor changes i

[2017-07-21 05:12] samuela opened #1433 "UncheckedExecutionException caused by NoSuchFileException"
Ran across an uncheck exception today:

[code]

`//vendor/opencv/BUCK`:

[code]

`device/BUCK`:

[code]

and finally `device/main.cpp`:

[code]

I presume that the ultimate cause of this is an issue with the way OpenCV is being built and packaged, but I figure that unchecked exceptions are likely worthy of a bug report regardless.

[2017-07-21 05:13] samuela commented on #1433
cc @drshrey

[2017-07-21 21:13] samuela commented on #1224
_bump_

I'm having this exact same issue trying to incorporate OpenCV in a buck project. No matter what I do I keep seeing

[code]

errors.

[2017-07-21 21:21] samuela commented on #1224
Here's an example that should reproduce the issue: https://github.com/samuela/buck-shared-library-bug.

[2017-07-21 21:57] kageiit commented on #699
@yiding and update on this?

[2017-07-21 21:59] yiding commented on #699
I am not working on this, I was just categorizing.

[2017-07-21 21:59] kageiit commented on #699
Who would be the right poc for this? For a large codebase migration, this seems like a useful feature

[2017-07-21 22:00] yiding commented on #699
Perhaps @dreiss @asp2insp or @cjhopman

[2017-07-21 22:47] kageiit commented on #699
I added support for this in https://github.com/facebook/buck/pull/1435

[2017-07-22 12:14] weakish opened #1436 "How to build pure C programs?"
Although in `BUCK`:

- `srcs` only contains `.c` source files, no c++ files.
- `compiler_flags` contains `"-std=c11"`

the output still links against `libstdc++`.

How to write buck rules for pure C programs (without linking libstdc++)?

[2017-07-25 19:25] cwoodwar6 commented on #1326
What was the conclusion here?

[2017-07-25 20:52] dreiss commented on #1326
I think we were never able to find a case where Buck violated the "dependent overrides dependency" rule, and @runningcode  was just going to refactor their code to eliminate the need for placeholders.

[2017-07-26 01:18] zhan-xiong opened #1438 ".fakebuckversion no longer works"
After [this](https://github.com/facebook/buck/commit/afe490a8c37f0d045a0e93c3aac1a04008da516f), buck no longer uses the .fakebuckversion file.

[2017-07-26 03:54] dinhviethoa commented on #1438
We could kill .fakebuckversion altogether.
You can achieve the same effect using the environment variable BUCK_FAKE_VERSION.

What do you think?

[2017-07-26 07:36] guhan121 commented on #1409
i use md5 fix this issue,thanks

[2017-07-26 07:36] #1409 closed

[2017-07-26 18:44] zhan-xiong commented on #1438
Actually after thinking about it, killing it is probably fine, though it does make my life marginally easier (I have a few versions of buck that I need to test in parallel, having different .fakebuckversion files in each one makes it slightly easier for me)

[2017-07-27 14:16] njlr commented on #1436
According to [this](https://stackoverflow.com/a/1653057/1256041), `libstdc++` is linked when `g++` is used as the linker. `g++` may well be your default.

What if you override the linker using a `.buckconfig` ([docs](https://buckbuild.com/concept/buckconfig.html))?

[code]

BTW, I have a `BUCK` file for Sodium [here](https://github.com/njlr/libsodium/blob/master/BUCK ).

[2017-07-27 17:07] weakish commented on #1436
@njlr  This does not work. I even removed `g++` and `libstdc++-dev`, which also does not work.

[2017-07-27 17:10] jonathandann opened #1440 "xcode_post_build_script() needs documentation on buckbuild.com"
https://github.com/facebook/buck/blob/master/src/com/facebook/buck/apple/XcodePostbuildScriptDescription.java allows you to run what Xcode calls a "run script build phase", but it's not documented on buckbuild.com, so it's not easy to work out how to do this without knowing what you're grepping for in the buck codebase.

This is necessary for migrating a fair few Xcode projects to being generated

[2017-07-27 17:34] ttsugriy commented on #1440
I assume that it's not documented [because of](https://github.com/facebook/buck/blob/master/src/com/facebook/buck/apple/XcodePostbuildScriptDescription.java#L41-L42):
[code]

[2017-07-27 18:49] bertmaher commented on #824
I've implemented this feature as of this commit: a271a23a24a63e88decba55e176d623717628719.  In addition to properly inheriting stdin, that diff will run commands entirely in the client, so the buckd lock isn't held for the duration of the run.

[2017-07-27 19:57] njlr commented on #1436
How are you testing that the C++ standard library is being linked?

[2017-07-27 23:50] njlr opened #1443 "Undefined reference when using pthread"
Compiling a small pthread example results in an `undefined reference`. It seems that Buck is not handling the `linker_flags` correctly.

Repo for this issue: [https://github.com/njlr/buck-pthread-example](https://github.com/njlr/buck-pthread-example)

Here is the `BUCK` file:

[code]

Here is the error:

[code]

Compiling manually works:

[code]

My setup:

[code]

[code]

[2017-07-28 08:22] bunnyblue opened #1444 "[aapt]inline Complex XML Resources"
https://developer.android.com/guide/topics/resources/complex-xml-resources.html
buck aapt support inline Complex XML Resources?

[2017-07-28 09:18] njlr commented on #1443
Work-around:

[code]

Which gives us this `argfile`:

[code]

Note that `-lpthread` is now after the object file `main.cpp.o`.

[2017-07-28 13:50] weakish commented on #1436
ldd

[2017-07-28 14:02] njlr commented on #1436
I think that setting the linker to `gcc` in `.buckconfig` [does the trick](https://stackoverflow.com/a/45358452/1256041).

Here is my `ldd` output:

[code]

I believe these are just C libraries?

All of the code is in [my fork](https://github.com/njlr/xkcd936/tree/bugfix/buck-no-stdc%2B%2B).

[2017-07-28 14:30] weakish commented on #1436
@njlr Thanks a lot! `ld = /usr/bin/gcc` does do the trick.

[2017-07-28 14:30] #1436 closed

[2017-07-28 18:51] jonathandann commented on #1440
@ttsugriy Without this as a first class citizen, what's the recommended way to migrate projects that use scripts?

[2017-07-28 20:35] ttsugriy commented on #1440
No idea, @jonathandann :) But all instances I've seen so far could be implemented using genrules.

[2017-08-02 06:22] Vanson opened #1446 "Where is tutorial for Common iOS Project?"
Where is tutorial for Common iOS Project?

[2017-08-02 11:33] lyrachord commented on #1426
both env and project config may be
but this case env was set, so the problem should be at project config.
see [https://buckbuild.com/concept/buckconfig.html#android.build_tools_version](url)

modifiy .buckconfig in project should be ok
f.e.
[ndk]
  ndk_version = 15.1.4119039

[2017-08-02 11:44] lyrachord opened #1447 "BUG: Buck failed on NDK 15.1.4119039 and windows"
git buck,
project fbsamples/bucksamples, build with with NDK 15.1.4119039
ERROR java.lang.AssertionError: D:\android\SDK\ndk-bundle\toolchains\arm-linux-androideabi-4.9\prebuilt\windows-x86_64\bin\arm-linux-androideabi-gcc doesn't exist.

solution
checked out the source:
1, executableFinder not used. so ignore. Host same.
2, there is no windows exe suffix.
3, there are tree paths to find the order

[2017-08-03 17:20] kolen commented on #1433
I get the same error when trying to cross compile with mingw. It looks for `.dylib` despite `linker_platform` is set to `WINDOWS`.

[2017-08-03 20:23] #699 closed

[2017-08-04 03:53] #1349 closed

[2017-08-04 06:26] zhaoshuyu commented on #371
buck supports android databinding now ?  thanks

[2017-08-04 22:22] elihart commented on #956
@runningcode any progress on this? It would be awesome to be able to use kapt.

[2017-08-04 22:24] cwoodwar6 commented on #956
@elihart It is still a work in progress. Hoping to have something together in the coming weeks.

[2017-08-04 22:30] elihart commented on #956
Great to here :) Thanks!

[2017-08-06 11:32] ashu-22 opened #1452 "git clone error"
cd buck
error: RPC failed; curl 56 OpenSSL SSL_read: SSL_ERROR_SYSCALL, errno 10054
fatal: The remote end hung up unexpectedly
fatal: early EOF
fatal: index-pack failed

[2017-08-06 12:13] ashu-22 commented on #65
Is it necessary that we are only used the Eclipse for this kind o project!

[2017-08-07 08:15] styurin commented on #1452
Please, provide more details.

[2017-08-07 08:15] #1452 closed

[2017-08-07 08:17] styurin commented on #65
We are not using Eclipse internally so the team is not going to work on that. We would be happy to review any PRs for that, but we would prefer to have a standalone script which is not a part of buck binary.

[2017-08-07 09:28] #65 closed

[2017-08-07 10:13] ashu-22 commented on #1452
Sir these are the errors I have got yesterday When I was trying to run that command there.
It is quite amazed me that I have not looked anything outside this error's.

[2017-08-07 10:30] styurin commented on #1452
So you got this error when you run `cd buck`? Did you run `git clone` before that? How did you create that folder?

[2017-08-07 13:04] ashu-22 commented on #1452
Yeah, I already did that thing previously. I never create that folder

On Mon, Aug 7, 2017 at 4:00 PM, Sergey Tyurin <notifications@github.com>
wrote:

[2017-08-07 14:36] ashu-22 commented on #181
So What should we contribute to this thing!

[2017-08-07 15:08] #181 closed

[2017-08-07 21:17] kageiit opened #1453 "Buck fails during parsing of test xml files"
Seeing this stacktrace randomly when running tests

[code]

Seems to be happening after we picked up https://github.com/facebook/buck/commit/886fa842cf6589fb5b1942d61fa0343582740da9 recently

[2017-08-07 21:17] kageiit commented on #1453
cc @katelyn-weingart @dreiss

[2017-08-08 00:19] katelyn-weingart commented on #1453
Hi, I'm looking into this. It could easily be my change but I'm not sure what would have caused the failure because this test is only checking the results of XmlDomParser, not XmlDomParserWithLineNumbers.

The only significant change here related to the failure is that I moved XmlDomParser into the buck.util.xml package from the buck.util package.

[2017-08-08 00:26] katelyn-weingart commented on #1453
One potential cause for this failure is that in the BUCK file I added, the XmlDomParser is under java_library rule instead of a java_immutables_library rule. Will change if I get confirmation from @styurin or someone else in buck that this change could cause this failure

[2017-08-08 03:48] styurin commented on #1453
I doubt 886fa84 is related to this. Do you have any other exceptions in the log related to interruptions?

[2017-08-08 04:34] kageiit commented on #1453
Also seeing

[code]

In the logs. Many of them

[2017-08-08 07:30] styurin commented on #1433
@ilya-klyuchnikov can you take a look?

[2017-08-08 07:30] #1426 closed

[2017-08-08 07:43] #1253 closed

[2017-08-08 08:02] #824 closed

[2017-08-08 08:04] #786 closed

[2017-08-08 08:09] styurin commented on #744
a271a23a24a63e88decba55e176d623717628719

[2017-08-08 08:09] #744 closed

[2017-08-08 08:15] styurin commented on #211
It was implemented some time ago, check `android_resource` documentation: https://buckbuild.com/rule/android_resource.html

[2017-08-08 08:15] #211 closed

[2017-08-08 12:07] ilya-klyuchnikov commented on #1433
`prebuilt_cxx_library` is not supported on windows, but `prebuilt_cxx_library_group` is supported. Could you switch to `prebuilt_cxx_library_group`?

[2017-08-08 16:56] styurin commented on #1360
Thanks for reporting the issue!

[2017-08-08 16:56] #1360 closed

[2017-08-08 17:53] Wizermil opened #1454 "Compile *.cpp as *.mm"
I'm working on a large mobile cross platform project and often you can see in Xcode a couple of cpp files compiled as objective-c++. This feature allows our code to be shared among many other platforms. Unfortunately that doesn't translate well to BUCK.

I tried to change the compile flag of the src, but they are appended not overwritten so it doesn't work
[code]

Any ideas to make it work?

[2017-08-09 15:47] kageiit commented on #1453
Last known buck sha where this was not happening is 62f479585a5e2f6197f5eb08b244afbea03cace3

[2017-08-10 02:19] samuela commented on #1433
@ilya-klyuchnikov I'm not on Windows.

[2017-08-11 06:29] bertmaher commented on #1453
It's interesting to me that we picked up a new release of nailgun in that time window (I don't know of anywhere we generate InterruptedExceptions aside from nailgun), but I don't see anything to make me suspicious of that bump.  Will keep investigating.

[2017-08-11 06:44] kageiit commented on #1453
@bertmaher It is interesting that you mentioned nailgun.

I looked at the logs in `buck-out/log` and found this when the exception happened

[code]

[2017-08-11 06:45] kageiit commented on #1453
The timestamps lineup too perfectly when nailgun exited and when the test runner got cancelled for this to be a coincidence

[2017-08-11 06:47] styurin commented on #1453
The nailgun update had only fixes related to multithread safety, there were no changes in logic. I'll double check them though

[2017-08-11 06:49] kageiit commented on #1453
I also observed several other test running threads abort immediately after the first nailgun issue and take out the entire build within a few seconds

[2017-08-11 09:02] styurin commented on #1453
I suspect there is a deadlock somewhere since it's timing out after 1 minute.

[2017-08-11 09:52] styurin commented on #1453
https://github.com/martylamb/nailgun/pull/104 created, I'll update out jar as soon as that PR is merged in.

[2017-08-11 10:37] hophacker opened #1457 "I Like this shit"
I Like this shit

[2017-08-11 10:57] #1457 closed

[2017-08-11 12:28] njlr opened #1458 "Is cross-cell configuration possible?"
I did some experiments on cells (https://github.com/njlr/buck-cell-config) and found that each cell compiles with its own `.buckconfig`, rather than the `.buckconfig` at the top-level. This is reasonable, but now what I expected!

This can cause issues when trying to set project-global settings such as compiler flags and language standards. I would rather not edit the `.buckconfig` in each target

[2017-08-11 17:39] kageiit opened #1459 "Add support for the D8 Dex Compiler"
https://android-developers.googleblog.com/2017/08/next-generation-dex-compiler-now-in.html

biggest wins are
- Faster dexing
- Automatic desugaring of java 8 bytecode
- Outputs smaller dex files

[2017-08-11 18:54] sdwilsh commented on #1459
I'm just going to assume @dreiss or @bertmaher should be the ones to look at this.

[2017-08-11 18:55] kageiit commented on #1459
Im going to take a look at adding D8 support into buck this weekend and report back.

[2017-08-11 19:03] kageiit commented on #1453
@styurin We tried the fix in martylamb/nailgun#104 and it is still happening

[2017-08-11 19:39] bertmaher commented on #1458
The short answer is no, Buck doesn't have a way to provide global settings inherited by "sub-cells" (and there's not really one on the roadmap, although that may change).  I think copying pieces of .buckconfig is about the best you can do here.  (Assuming the third-party dep actually needs its own .buckconfig -- sometimes you can get away with simply writing a BUCK file for the dep as though it we

[2017-08-11 20:45] njlr commented on #1458
Thanks @bertmaher.

This capability is quite critical for us, and we would be willing to contribute the code if required to make it happen. Do you think one of the Buck team could provide some design direction?

cc @nikhedonia

[2017-08-11 21:57] kageiit commented on #1453
Reverting the nailgun update in 9eabab154af3747c1175be18f545dfb11e5a6a76 is still causing the same problem

[2017-08-11 22:12] kageiit commented on #1453
Reverting the nailgun update has a different stacktrace

[code]

[2017-08-11 23:29] kageiit opened #1460 "Add support to merge service Descriptor files in java_binary rules"
Buck currently provides an option to merge manifests when building java_binary rules, but I am not seeing an option to merge service manifest files as described in http://imperceptiblethoughts.com/shadow/#controlling_jar_content_merging

[code]

[2017-08-11 23:29] kageiit commented on #1460
cc @jkeljo @styurin

[2017-08-12 06:11] elucash opened #1461 "5 seconds delay before build"
Please help with the advise. Having really annoying 5-seconds delay before the build.  Was able to reproduce it on 2 macbooks, on another one it seems non-reproducible. Here's verbose output:

[code]

I wonder if it's waiting for something before giving up.
Versions
[code]

[2017-08-12 07:35] elucash commented on #1461
Ok, made thread dump, figured out it was `InetAddress.getLocalhost()` then found out the solution https://thoeni.io/post/macos-sierra-java/ and https://stackoverflow.com/questions/33289695/inetaddress-getlocalhost-slow-to-run-30-seconds
Sorry for disturbing, but in case someone else face it, it may also found it here. Thank you!

[2017-08-12 07:35] #1461 closed

[2017-08-13 18:29] tapthaker commented on #570
The posts don't seem to be available anymore. Can someone repost them?

[2017-08-14 15:36] styurin commented on #1446
Do you mean this: https://buckbuild.com/setup/getting_started.html ?

[2017-08-14 15:37] styurin commented on #1447
I don't think we support Android on Windows right now

[2017-08-14 15:37] #1447 closed

[2017-08-14 17:57] alonlevih opened #1463 "'Too many field references' error when using Buck with trim_resource_ids=false"
BUILD FAILED: //main:bin_developDebug#dex_uber_r_dot_java failed with exit code 2:
trouble writing output: Too many field references: 67758; max is 65536.
......

This error shows up in large apps that depend on many modules. The field references of used resources coming from these modules will be counted against each module.
This means that any field in R.txt in any submodule gets treated as if i

[2017-08-14 18:15] jkeljo commented on #1460
This should be really straightforward to do in `JarBuilder`

[2017-08-14 18:16] jkeljo commented on #1460
Although deciding on the proper ordering will be interesting.

[2017-08-14 18:43] kageiit commented on #1460
Can we not do the same thing as we do with merging duplicates in the transitive classpath i.e post order traversal?

[2017-08-14 18:44] kageiit commented on #1460
I am not sure the order matters or not however

[2017-08-14 18:55] jkeljo commented on #1460
[The docs](https://docs.oracle.com/javase/8/docs/api/java/util/ServiceLoader.html#load(java.lang.Class)) imply, but don't outright state, that the iteration order is the order in which the names appear. The OpenJDK source looks like it's indeed doing it in order. And yeah, following existing precedent makes sense.

[2017-08-14 19:00] bertmaher commented on #1458
I think I spoke too soon -- we may be getting support for "toolchains", defined via BUCK rules, soon-ish, which I think should be able to handle your use case.  The design is still high-level right now but I'll keep you posted with the details.

[2017-08-14 19:40] #1446 closed

[2017-08-14 22:37] ameyab10 commented on #371
Oh gosh, total catch 22 here.. Would be awesome if buck could support this since databinding is pretty mainstream now.

[2017-08-15 15:13] kageiit commented on #1463
@alonlevih There already exists a `keep_resource_pattern` option in android binary for this.

I would recommend looking at the source code `AndroidBinaryDescription` directly next time since all options are not documented. In fact, we use the same approach to keep resources we load using reflection to get around this issue and enable resource trimming.

[2017-08-15 16:47] kageiit commented on #1453
Any update on this? This still is causing instability on our CI builds. Any idea what else we can do to debug this?

[2017-08-15 16:52] bertmaher commented on #1453
We've been running with NO_BUCKD in our CI, because of exactly this problem :-(.  If it wasn't the nailgun update, I'm sort of at a loss for what could be causing this.  Open to debugging ideas for sure.

[2017-08-15 16:56] kageiit commented on #1453
Ok I will try with `NO_BUCKD` and report back

[2017-08-15 17:46] kageiit commented on #1363
We are back on sqlite for a few weeks and have seen no issues so far. Thanks!

[2017-08-15 22:39] kageiit commented on #1453
Setting `NO_BUCKD=1` mitigated the issue on CI. Seems like something we should add to troubleshooting docs as it can bite anyone running tests with buck in CI environments.

[2017-08-16 06:23] alonlevih commented on #1463
@kageiit keep_resource_pattern allows specifying a regular expression for matching the resource name; The thing is I need to apply a regular expression for the resource class (id/string/color/etc). The resource name regular expression does not help much with my issue since there is no template I use for naming resources.
Of course I've taken a look at AndroidBinaryDescription before suggesting thi

[2017-08-16 17:53] #1460 closed

[2017-08-17 05:51] xzstar commented on #1332
The reason is System.getProperty("java.home")  points to a jre directory.
Workaround: copy your jdk/lib/tools.jar to jre/lib/tools

[2017-08-17 14:17] nikhedonia opened #1465 "debian packaging"
Would be nice if you would provide a selfcontained debian package for buck.

Many users of Buckaroo complain that its difficult to install Buck on debian jessie as it requires to install openjdk-8-jre which is not included in the default repository.

[2017-08-21 10:19] njlr opened #1469 "Flavours do not work across cells?"
It appears that flavours do not work across cells. If you have a cell that uses a flavour, which depends on a cell that does not have that flavour, calling `build` will throw an exception.

[Example repo](https://github.com/njlr/buck-cell-flavours-bug)

Is this design intentional?

I would expect the flavour to be applied to the cell automatically.

[2017-08-21 10:23] njlr commented on #1469
cc @nikhedonia @isundaylee

[2017-08-21 11:16] njlr opened #1470 "Hook for automatically generated .buckconfig?"
In [Buckaroo](https://github.com/LoopPerfect/buckaroo) we are overwritting `.buckconfig.local` with automatically generated values for `[repositories]`. This is less than ideal, because if the user has important configuration there it is lost.

It would be possible for us to parse and merge the existing `.buckconfig.local` ([discussion](https://github.com/LoopPerfect/buckaroo/issues/130)), but thi

[2017-08-21 11:16] njlr commented on #1470
cc @nikhedonia

[2017-08-21 17:13] njlr commented on #1454
Perhaps you could pull the Objective C++ files out into their own target and set the flags in `compiler_flags`?

[code]

[2017-08-22 12:11] njlr commented on #1470
I have created a patch for this (https://github.com/njlr/buck/tree/feature/buckconfig.auto). Happy to send a PR.

[2017-08-22 12:59] nikhedonia commented on #1290
Any updates? - as more people and packages depend on flavors, this is becoming a bigger annoyance...

[2017-08-22 13:04] LegNeato commented on #1470
I too would be interested in such a feature

[2017-08-22 13:06] LegNeato commented on #1470
Though multiple tools may collide...perhaps just look for a .buckconfig.(*).generated regex

[2017-08-22 13:07] njlr commented on #1470
Interesting idea - we would need a well defined stacking order if multiple configs are possible.

[2017-08-22 15:17] ttsugriy commented on #1470
Would it be possible for you to use command line arguments for this?

You can create a file args/buckaroo with following content:
[code]
and can use it when calling buck as follows:
[code]

This way it's also easy to use your overrides in any project without having to modify `.buckconfig`.

[2017-08-22 16:20] njlr commented on #1470
That sounds feasible but I think that it would prove inconvenient for users, since they would always want to pass in the values or the build will fail.

[2017-08-22 17:34] ttsugriy commented on #1470
well, you can create a buck wrapper script when initializing buckaroo repo, which would call buck and pass appropriate overrides. In fact, it will also give you the maximum flexibility for providing the best experience for buckaroo clients. No matter how many `.buckconfig.*` options we support, there will always be a potential for tools/clients to override or corrupt an existing config.

[2017-08-22 18:28] ttsugriy commented on #1290
The reason for current behavior is that [platform is matched against a flavor](https://github.com/facebook/buck/blob/315cbf70ff082450c3bbc3608c074418b247be5e/src/com/facebook/buck/cxx/CxxFlags.java#L91) and by default that flavor is [default](https://github.com/facebook/buck/blob/315cbf70ff082450c3bbc3608c074418b247be5e/src/com/facebook/buck/cxx/toolchain/CxxPlatformsProvider.java#L111). I don't k

[2017-08-22 18:31] ttsugriy commented on #1290
In fact there is even a [comment](https://github.com/facebook/buck/blame/315cbf70ff082450c3bbc3608c074418b247be5e/src/com/facebook/buck/cxx/toolchain/CxxPlatformsProvider.java#L97-L99) about this behavior:
[code]

[2017-08-22 20:15] mzlee commented on #1458
For what it's worth, I was thinking about adding buckconfig inheritance for a while, but was a bit wary of the additional complexity. I believe you can set a global buckconfig.d with some amount of inheritance in $HOME/.buckconfig, $HOME/.buckconfig.d, /etc/buckconfig, and /etc/buckconfig.d/. However, that ends up being global to everything, not just global to a particular repository.

https://git

[2017-08-23 08:28] jauco commented on #1015
I'd like to remove this branch from my repository. I ended up not using buck. Do you want me to keep it around?

[2017-08-23 11:24] wdsunny commented on #1199
I have same issue, anyone find solution?

[2017-08-23 13:07] robbertvanginkel opened #1472 "[swift] Proposal: remove delegation from AppleLibraryDescription when the apple_library contains swift"
I've worked on a buck for where we've had swift working for a while. It works for us specifically but contains some hacky workarounds which made us not pursue the opensourcing of that. Instead, we've revisited the approach and I think we need a slight architectural direction change to make this work.

What we currently have is `AppleLibraryDescription`, which will handle all apple related flavors

[2017-08-23 17:04] ttsugriy commented on #1199
Apologies for the delay. I'm going to take a look today.

[2017-08-23 17:05] ttsugriy commented on #1199
Also, I appreciate the repro @SwiftlyFly!

[2017-08-23 17:31] milend commented on #1472
Thanks for the write-up @robbertvanginkel. As we previously spoke about the correct approach to support Swift, I agree with everything that you've outlined above.

@robbertvanginkel:

This also arises if we want to build Swift static libs without using modular imports (so Obj-C would be exposed only through a bridging header). As you say, this would necessitate a flavour on `CxxLibraryDescription`

[2017-08-23 18:24] mzlee commented on #1416
Yes, you would need to rebuild anything that depends on a module that has changed. But this makes sense because it's not clear whether or not the depending modules needs any of the changes.

[2017-08-23 21:05] ttsugriy commented on #1199
So the problem is that header file map already includes files without header_path_prefix for usage within the same target, so trying to add an explicit `header_path_prefix` leads to a duplicate. I have a fix for this internally, but technically simply removing the `header_path_prefix` should also work.

[2017-08-23 23:29] nikhedonia commented on #1470
Unfortunately then we would need to call the script using a relative path...
One nice feature of Buck is that you can invoke any buck command from any sub directory and it just works.

[2017-08-24 06:00] ttsugriy commented on #1199
[https://github.com/facebook/buck/commit/9fb6b338bbbdb6a513647c27c4ecdbc712038f09](My changes) should have fixed this problem. I'm closing the task, but if you still experience any issues, please feel free to reopen this task.

[2017-08-24 12:53] wdsunny opened #1482 "Need "cpu_filters" for apple_binary rule for multiple architectures"
The apple_binary will generate the .a static library, I am wondering which architectures does it support?
I saw there was "cpu_filters" for android_binary rule, is there a plan to implement similar argument for apple_binary?

[2017-08-24 13:03] wdsunny opened #1483 "Is there a way to generate .bundle file for iOS project?"
I have a project contains several resource files such as png、xib and plist etc. I want to generate the output files as a static library: .a file and a resource bundle file: .bundle file.

I check the apple_resource and apple_library rule, it seems that it can only generate the single .a static library file, but the apple_resource doesn't generate any output file. Is there a way to do that?

[2017-08-24 14:40] milend commented on #1472
A few more thoughts on the subject:
- We need to support a non-modular setup for mixed libraries using bridging headers. That's because existing code might be exhibiting [anti-patterns](http://clang.llvm.org/docs/Modules.html#id36) that break modules. I have set up an example setup this [here](https://github.com/milend/swift-static-libs).
- `SwiftCompile` rule currently suffers from multiple issue

[2017-08-24 17:48] JonShemitz commented on #1423
Bruno, I'm sorry for the slow reply: we don't monitor GitHub directly, and I just got pinged about this  issue by the "on-call" engineer.

This _is_ a known issue. The `BUCK` file syntax highlighting is fairly simplistic, relying totally on getting a valid PSI (JetBrain's language-independent syntax tree) representation. Clearly, IJ can highlight files with multiple serious syntax errors, but this

[2017-08-24 21:39] yiding commented on #1454
per-file flags should come at the end of the command line so it can overwrite earlier flags. The fact that it isn't doing that is a bug and we should fix it.

[2017-08-25 20:17] ttsugriy commented on #1199
I had to temporarily revert my changes, but I have a new changeset which I hope to commit today.

[2017-08-25 23:58] cwoodwar6 opened #1484 "Changing Android compile SDK is not invalidating cache artifacts"
In `.buckconfig` under `[android]` we define `target = android-25`. This is the version of Android which our entire project is compiled against. If we compile the app, then change that to `target = android-26` without any additional changes, nothing is being rebuilt. Changing the compile version should invalidate artifacts and recompile them because it may expose new compiler errors and warnings.

[2017-08-26 00:01] cwoodwar6 opened #1485 "Request for dynamic Android compile SDK based on target"
In `.buckconfig` under `[android]` the target says “This specifies the version of the Android SDK that all Android code in the project should be built against.“. Normally that was fine for us, but now we have 2 apps in the same repo that are compiling against separate SDK versions. Is there any way we can make this dynamic based on what target you are building? Perhaps a way to have a `.buckconfig

[2017-08-26 20:19] ttsugriy commented on #1199
[new fix](https://github.com/facebook/buck/commit/4a4bf25802ccad0b71f4f9bfde1aeb00a57a3277) has landed. Closing the issue.

[2017-08-26 20:19] #1199 closed

[2017-08-28 08:53] robbertvanginkel commented on #1472
There are definitely some things that need to happen after this, I suggest we keep a list in a separate task for things like the swiftdoc, choice for invoking per module / per file, etc.

I think since it is undocumented, there are no guarrantees. To not disturb current users we have to keep current code paths, which is exactly what I don't want with this refactor.

I think the best way to go will

[2017-08-28 21:25] yiding commented on #1454
Fixed in 5f06d90f3aa9ca5830e4746e5f1515182eb68760.

[2017-08-28 21:25] #1454 closed

[2017-08-29 03:21] cjhopman commented on #1484
Yeah, this should definitely be fixed. It's always behaved this way right? It's not a regression?

[2017-08-29 03:27] cjhopman commented on #1485
What we've tended to do for this is to create a directory "mode/" that contains files of command line args that configure buck in different ways.

For example, have a file at mode/android-26 that just contains
[code]
and then invoke buck like `buck build @mode/android-26 //my/fancy:apk`.

The biggest reason that we are hesitant to add the ability to configure this at the apk level is that it affec

[2017-08-29 17:08] scottrice commented on #1483
If you want to include a bundle which already exists in your binary, then you can do so by adding an apple_resource rule with `dirs` that includes a path to your `.bundle` folder. This of course assumes that you have the bundle on disk already and that you want to place that in your binary exactly as is.

If some of the contents of the bundle are unknown though (like they are the output of another

[2017-08-29 17:54] cwoodwar6 commented on #1484
@cjhopman as far as I can tell it has always been that way, but I haven't tested older versions.

[2017-08-29 19:00] cwoodwar6 commented on #1485
@cjhopman From what I can tell, this solution would have the same impact on build costs, correct? Because essentially you have to recompile all of the build graph underneath with the new target?

This solution is nice because it at least gives me the ability to configure it on the fly but I'd like to hide this detail from users. Is there some way I can bake this into the target so that users aren'

[2017-08-29 23:28] cwoodwar6 opened #1487 "Kotlin only robolectric_test targets fail to compile"
The following error appears when trying to compile a `robolectric_test` target that contains only kotlin code:
[code]

My guess is because there is no java, it is missing the `used-classes.json` file. Test targets that contain mixed java + kotlin do not have this issue.

[2017-08-30 01:05] kageiit commented on #1485
@cwoodwar6 you have access to `buckw` so you can intercept the args and add in extra ones like the config file transparently under the hood.

This is what we do for folks invoking `./buckw project`. We intercept the args and ensure they are not projecting on the entire workspace and we also add some extra flags to speed it up for example

[2017-08-30 15:24] njlr opened #1488 "Error running Buck on Appveyor"
I am trying to build Buck on Appveyor in order to test a project that builds with Buck.

I can build Buck using `ant`, but when I run `buck --version` I get this error:

[code]

Any ideas?

[2017-08-30 16:12] njlr commented on #1488
Some environment information:

[code]

[2017-08-30 17:18] nikhedonia commented on #1290
is anybody working on this ?

[2017-08-30 18:18] isundaylee opened #1489 "Code signing when running on the device"
I encountered an error as raised in facebook/FBSimulatorControl#438 when I tried to run the app on the real device with `buck install -d -r "//ios:Stun#iphoneos-arm64"`. After some digging it seems the issue is related to an incorrectly signed `.app` file. When I manually sign the `.app` again with

[code]

the `.app` can be successfully installed onto the device.

Are there any options I need to

[2017-08-30 18:53] cwoodwar6 commented on #1485
@kageiit So that is currently how I am getting around the issue. But this is only when they invoke the target directly and I know that target should be using a different SDK version.

On CI we run `./buckw test --include unit` which crosses the target boundaries and needs to compile different SDK versions depending on the current target it runs. This is the particular case I am most interested in

[2017-08-30 19:28] kageiit commented on #1485
buck allows you to set arbitrary labels on any build rules

You can use custom `DEFS` to add a `android-26` label onto the targets that require the new sdk, then use buck query to filter out those targets

Then on ci, you can run two `test` commands with different arguments. One for 26 and one for the rest

[2017-08-30 19:29] cwoodwar6 commented on #1485
Yeah that was going to be my other work around :)

[2017-08-31 09:38] #350 closed

[2017-09-01 10:01] brettwooldridge opened #1494 "Can somebody make a release?"
Last release is at the end of May.  Would be nice to have an official release with all of the Kotlin goodness...

[2017-09-01 11:14] nikhedonia commented on #1494
...and upload a debian package as well.

[2017-09-01 11:17] njlr commented on #1470
Would someone from the Buck team be able to provide guidance on this?

[2017-09-01 14:31] njlr commented on #1488
I was able to fix this by in Appveyor:

[code]

[2017-09-01 14:31] #1488 closed

[2017-09-01 16:10] njlr opened #1495 "Prebuilt Choco package?"
It would be convenient for Windows deployments if a Choco package were made available.

I have created one [here](https://github.com/njlr/choco-buck), which could be the basis for an official package. However, my implementation is slow because it downloads and builds Buck on the deployment machine. This takes a few minutes on Appveyor.

 * Are there plans to provide a Choco package for Buck?
 * Ar

[2017-09-02 17:23] afturner commented on #423
Wondering what the status is on this, sorry if I missed something

[2017-09-02 20:52] ttsugriy commented on #1494
There are a few more changes in flight that we'd like to have in our next release, but we'll create a new release next Monday or Tuesday. Thank you for your patience!

[2017-09-04 03:42] brettwooldridge opened #1496 "Failed to calculate ABI for log4j-api-2.9.0.jar"
Using latest (i.e. current HEAD), after upgrading a third-party library (log4j) I am now getting this error...
[code]

[2017-09-04 04:16] ttsugriy commented on #1496
@jkeljo, could you please take a look.

[2017-09-04 05:55] brettwooldridge commented on #1496
@ttsugriy @jkeljo Found it.  Java 9 issue.  Pull request coming...

[2017-09-04 06:40] ttsugriy commented on #1470
@nikhedonia, I understand that it's more convenient to be able to use a default buck installation, but Gradle, for example, [wrapper scripts](https://docs.gradle.org/current/userguide/gradle_wrapper.html) and developers seem to be ok with that approach. You can generate similar scripts when initializing buckaroo. This way you could also provide a way to download/install a version of buck that is g

[2017-09-04 06:47] ttsugriy commented on #1495
Thank you for bringing this up, @njlr! We do have prebuilt binary for macOS on our [release page](https://github.com/facebook/buck/releases), so it seems fair to provide binaries for Windows as well. @ilya-klyuchnikov, do you happen to know if there are any plans to do so?

[2017-09-04 20:38] ExtremeMan commented on #639
I don't think it is actually related to that issue. The error says that you most likely used newer deployment target sdk when building a test bundle.

[2017-09-05 16:12] anoever opened #1508 "DsymStep is not reexecuted if object files change"
DsymStep declares only a dependency on the generated executable, not on the object files from which the executable was build. The comment in `DsymStep.java` nicely explains why this is wrong:

Any source modification that changes the object files, but not the executable does not trigger a rebuild of the `ios:BuckDemoAppBinary#apple-dsym,iphoneos-arm64` target. For example if I add a new line in a

[2017-09-05 17:40] andrewjcg commented on #1290
Yeah, Buck doesn't setup host-specific build platforms (it's basically just "default" for the host platform, and Android and iOS specific platforms for everything else), which makes this kind of thing a pain.

Some possible short-term ways forward, depending on what your trying to do:
1) If you don't really care about cross-compilation, you can probably get using some logic in the BUCK file itself